
{% extends 'base.html' %}
{% block body %}
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <section id="accueil" class="bgimg-accueil">
      <div class="text_accueil text-white text-contour">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <h1>Welcome to COGEFOR</h1>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <p class="">Portail des forêts de la Province Nord</p>
            </div>
          </div>
        </div>
    </section>
    <section id="Intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h4>Introduction</h4>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="ecologie">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h4>C'est quoi l'Ecologie</h4>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="projet">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h4>Le projet</h4>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="now">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h4>Et maintenant que vais-je faire?</h4>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
            <p>Ex consequat commodo adipisicing exercitation aute excepteur occaecat ullamco duis aliqua id magna
              ullamco eu.
              Do aute ipsum ipsum ullamco cillum consectetur ut et aute consectetur labore. Fugiat laborum incididunt
              tempor eu
              consequat enim dolore proident. Qui laborum do non excepteur nulla magna eiusmod consectetur in. Aliqua et
              aliqua
              officia quis et incididunt voluptate non anim reprehenderit adipisicing dolore ut consequat deserunt
              mollit
              dolore. Aliquip nulla enim veniam non fugiat id cupidatat nulla elit cupidatat commodo velit ut eiusmod
              cupidatat
              elit dolore.</p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
