{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'taxon/css/dashboard.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
	Presentation des arbres
</div>
{% endblock page_header%}
{% block body %}
<section id="Intro">
	<div class="col-lg-2">
		<button type="button" class="btn btn-light btn-lg"><a href="{% url 'taxon:dashboard' %}">
				Accéder aux données <span class="badge badge-secondary"><span class="fa fa-database"
						aria-hidden="true"></span></span>
			</a>
			</bouton>
	</div>
	<section id="preambule">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2>Pr&eacute;ambule</h2>
					<p style="text-align: justify;"><span>U</span>n arbre est un v&eacute;g&eacute;tal constitu&eacute;
						d&rsquo;un tronc et de branches capables de <span>produire du bois, un m&eacute;lange de
							lignine, de cellulose et d&rsquo;h&eacute;micellulose, c&rsquo;est-&agrave;-dire &agrave; un
							compos&eacute; chimique sp&eacute;cifique nomm&eacute; la lignine. Si
							toutes</span><span>&nbsp;les </span><span>plantes, m&ecirc;me </span><span>les
						</span><span>herbac&eacute;es, produisent de la ligni</span><span>ne pour assurer leur
							rigidit&eacute; et permettre leur croissance en hauteur, seuls les
							arbres</span><span>&nbsp;ont une croissance en &eacute;paisseur gr&acirc;ce &agrave; la
							pr&eacute;sence</span>de&nbsp;m&eacute;rist&egrave;mes <span>&amp; tissus
						</span>secondaires<span>. </span></p>
					<p style="text-align: justify;"><span>Cette d&eacute;finition d</span><span>e l&rsquo;arbre est ici
							&eacute;largie &agrave; la notion de plante
							arborescente</span><span>&nbsp;qui</span><span>&nbsp;reg</span><span>roupe</span><span>, en
							plus des arbres tels que </span><span>strictement </span><span>d&eacute;finis sur le plan
							anatomique, toutes les plantes &eacute;rig&eacute;es</span><span>,
							autoportantes,</span><span>&nbsp;qui </span><span>peuvent atteindre
							une</span><span>&nbsp;hauteur de 5 m et</span><span>&nbsp;un diam&egrave;tre de 10 cm
							&agrave; 1.</span><span>3 </span><span>m de hauteur. Concr&egrave;tement </span><span>cette
							d&eacute;finition </span><span>conduit &agrave; regrouper dans la classe des
							arbres</span><span>,</span><span>&nbsp;les palmiers</span><span>, les pandanus
						</span><span>et les foug&egrave;res arborescentes</span>.</p>
	</section>
	<section id="learnTaxon">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2>&Eacute;tudier les arbres</h2>
					<p style="text-align: justify;">L&rsquo;&eacute;tude des arbres est un vaste champ qui rel&egrave;ve
						de nombreuses disciplines&nbsp;: taxonomie, physiologie, &eacute;cologie,
						g&eacute;n&eacute;tique&hellip; Les informations relev&eacute;es sur les arbres vont
						d&eacute;pendre des objectifs d&rsquo;&eacute;tude. En dehors de l&rsquo;identification et de la
						localisation elles peuvent aussi concerner&nbsp;la morphologie et
						l&rsquo;&eacute;cologie&nbsp;(diam&egrave;tre, hauteur, strate, ph&eacute;nologie&hellip;), la
						physiologie&nbsp;(densit&eacute; de bois (WD), surface foliaire (LA), surface foliaire
						sp&eacute;cifique (SLA), mati&egrave;re s&egrave;che foliaire, &eacute;paisseur de la feuille
						(LDMC)&hellip;) ou encore la g&eacute;n&eacute;tique&nbsp;(pr&eacute;l&egrave;vement de
						fragments de feuilles conserv&eacute;s en silicagel). Toutes ces informations peuvent &ecirc;tre
						compil&eacute;es et/ou int&eacute;gr&eacute;es dans des mod&egrave;les afin de mieux
						conna&icirc;tre les arbres.</p>
					<p style="text-align: justify;">Les informations sur la morphologie vont &ecirc;tre utilis&eacute;es
						dans les travaux de taxonomie qui visent &agrave; d&eacute;crire et classifier les
						esp&egrave;ces. La localisation des individus arbres va permettre de r&eacute;aliser des cartes
						de distributions et d&rsquo;estimer la raret&eacute; ou l&rsquo;abondance. Les localisations
						coupl&eacute;es &agrave; des informations sur l&rsquo;environnement (altitude,
						pluviom&eacute;trie, g&eacute;omorphologie&hellip;) vont permettre de d&eacute;finir des
						pr&eacute;f&eacute;rences ou niches &eacute;cologiques pour chacune des esp&egrave;ces.</p>
					<p style="text-align: justify;">Les informations physiologiques vont servir de proxi (i.e. vitesse
						de croissance, r&eacute;sistance &agrave; la s&eacute;cheresse) pour mieux comprendre les
						fonctions de chaque esp&egrave;ce dans l&rsquo;&eacute;cosyst&egrave;me.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="taxon">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mx-auto">
					<h2>Les arbres de Nouvelle-Cal&eacute;donie</h2>
					<p><span>Parmi les 3</span>&nbsp;<span>641 </span><span>esp&egrave;ces </span><span>de plantes d&eacute;crites
							dans la flore cal&eacute;donienne, 1</span>&nbsp;<span>171 appartiennent &agrave; cette cat&eacute;gorie
							de plantes arborescentes</span><span>, soit 1/3 de la flore indig&egrave;ne de la
							Nouvelle-Cal&eacute;donie</span><span>, r&eacute;parti dans 91 familles botaniques, XX genres &amp; XX
							esp&egrave;ces</span><span>. </span></p>
					<p><span>Ces </span>&laquo;&nbsp;<span>arbres</span>&nbsp;&raquo;<span>&nbsp;indig&egrave;nes sont
						</span><span>pour la plupart end&eacute;miques
							(</span><span>1</span>&nbsp;<span>064</span><span>&nbsp;taxons</span><span>, soit 91% de la flore des
							arbres</span><span>)</span><span>et parmi eux </span><span>220 </span><span>appartiennent &agrave;
						</span><span>des genres end&eacute;miques et 7 </span><span>aux </span><span>3 familles end&eacute;miques de
							Nouvelle-Cal&eacute;donie&nbsp;: Oncothecaceae, Amborellaceae et Phellinaceae.</span><span>&nbsp;Ces
							arbres </span><span>sont des gymnospermes (</span><span>38</span><span>) des
						</span><span>monocotyl&eacute;dones</span><span>&nbsp;(</span><span>29 palmiers et 13
							pandanus)</span><span>, des foug&egrave;res </span><span>arborescentes
							(</span><span>8</span><span>)</span><span>, des </span><span>angiospermes </span><span>(XX) parmi
							lesquelles 71 angiosp</span><span>ermes </span><span>basales</span><span>.</span></p>
					<p><span>Si les esp&egrave;ces end&eacute;miques sont rares &agrave; l&rsquo;&eacute;chelle de la
							plan&egrave;te</span><span>, certaines sont tr&egrave;s abondantes &agrave; l&rsquo;&eacute;chelle de la
							Nouvelle-Cal&eacute;donie, &agrave; l&rsquo;&eacute;chelle d&rsquo;une localit&eacute; ou dans
							un</span><span>&nbsp;seul</span><span>&nbsp;type de milieu. C&rsquo;est pourquoi les esp&egrave;ces
							micro-end&eacute;miques ne sont pas </span><span>n&eacute;cessairement </span><span>rares
							si</span><span>&nbsp;elles sont abondantes </span><span>dans leur milieu.
						</span><span>Ainsi</span><em><i><span>Acropogon
									aoupiniensis</span></i></em><em><i><span>,</span></i></em><span>&nbsp;qui dans le monde ne se
							rencontre que dans les montagnes </span><span>de la r&eacute;gion du Mont Aoupini&eacute;,
						</span><span>est ultra-abondante et domine</span><span>localement </span><span>le peuplement des arbres. La
							notion de raret&eacute; se d&eacute;finit selon trois composantes connexes </span><span>qui se basent sur
							1) l&rsquo;&eacute;tendue g&eacute;ographique, 2) l&rsquo;&eacute;tendue de la niche
							&eacute;</span><span>cologique et 3) la densit&eacute; locale des populations</span><span>.</span></p>
					<p><span>Globalement, la flore des arbres com</span><span>pte environ 58 % </span><span>de taxons
						</span><span>commun</span><span>s</span><span>&nbsp;et &agrave; l&rsquo;extr&ecirc;me </span><span>moins de
						</span><span>3 </span><span>%</span><span>&nbsp;d</span><span>es arbres</span><span>&nbsp;qui
							sont</span><span>&nbsp;rares </span><span>dans </span><span>ces trois composantes</span><span>,
							c&rsquo;est-&agrave;-dire que ce sont des arbres micro-end&eacute;miques dont la
							niche</span><span>&nbsp;&eacute;cologique est tr&egrave;s restreinte et dont la densit&eacute; locale est
							faible</span><span>.</span></p>
					<p><span>En Nouvelle-Cal&eacute;donie, les arbres sont g&eacute;n&eacute;ralement de
							petite</span><span>&nbsp;taille</span><span>&nbsp;except&eacute;</span><span>&nbsp;les
						</span><em><i><span>Auraucaria</span></i></em><span>&nbsp;dont la cime</span><span>,</span><span>qui atteint
							plus de 40 m, </span><span>d&eacute;passe largement </span><span>la canop&eacute;e
							foresti&egrave;re</span><span>. </span><span>Dans notre jeu de donn&eacute;es nous identifions
						</span><span>moins de 20 taxons capables de d&eacute;passer la hauteur de 30 m </span><span>(e.g.
						</span><em><i><span>Semecarpus atra, Cunonia austrocaledonica, Apodytes clusiifolia, Kermadecia
									sinuata</span></i></em><em><i><span>, Diospyros macrocarpa, Agathis moorei</span></i></em><span>)
						</span><span>et 32 taxons don</span><span>t le DBH est sup&eacute;rieur &agrave; 1 m (e.g.
						</span><em><i><span>Geissois racemosa</span></i></em><span>&nbsp;le faux-tamanou,
						</span><em><i><span>Arillastrum gummiferum</span></i></em><span>&nbsp;le
						</span><span>ch&ecirc;ne</span><span>&nbsp;gomme, </span><em><i><span>Montrouziera
									cauliflora</span></i></em><span>&nbsp;le houp, </span><em><i><span>Planchonella
									sphaerocarpa</span></i></em><span>&nbsp;le bois cochon </span><span>ou encore
						</span><em><i><span>Agathis lanceolata</span></i></em><span>&nbsp;le kaori du su</span><span>d)</span></p>
					<p></p>
				</div>
			</div>
		</div>
	</section>

	{% endblock body %}