django >= 1.9.5
djangorestframework >= 3.3.3
markdown >= 2.6.6
django-filter >= 0.13.0
celery >= 3.1
flower >= 0.9.1
psycopg2 >= 2.6

django-ncbif-taxa>=0.1
django-ncbif-occurrences>=0.1
django-ncbif-plantnote>=0.1
django-ncbif-geoserver-admin>=0.1
