django < 3.0
django-mptt>=0.8.3

# api rest
djangorestframework >= 3.3.3
djangorestframework-gis >= 0.10
djangorestframework-recursive
markdown
django-filter
pygments

psycopg2 >= 2.6
django-constance[database] >= 1.2
gunicorn
# Heroku
django-heroku
whitenoise
dj-database-url
#geoShape
geojson
shapely
geopandas
pyproj