{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
    <!--<link rel="stylesheet" href="{% static 'css/lib/ol.css' %}" type="text/css">-->
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'data_marts/css/data_marts.css' %}"/>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <h3 class="page-header">Analyse géographique (beta)</h3>
    <img id="preloader" src="{% static 'img/preloader.svg' %}">
    <div id="react">
        <i class="fa fa-lg fa-spinner fa-spin"></i><br><br>
        <i class="pending">Chargement de l'application...</i><br><br>
    </div>
    <script>
        window.props = {{props|safe}};
        window.react_mount = document.getElementById('react');
    </script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.1/react-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.js"></script>
    <!--<script src="{% static 'js/lib/react.js' %}"></script>-->
    <!--<script src="{% static 'js/lib/react-dom.min.js' %}"></script>-->
    <!--<script src="{% static 'js/lib/react-bootstrap.min.js' %}"></script>-->
    <!--<script src="{% static 'js/lib/ol.js' %}"></script>-->
    <script src="{% static 'data_marts/js/dist/data_mart.js' %}"></script>
{% endblock %}
