{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'plot/css/dashboard.min.css' %}" />
{% endblock %}

{% block body %}
{% block page_header %}
<div class="container">
    Tableaux de bord des parcelles
</div>
{% endblock %}

<div class="d-flex flex-nowrap  justify-content-around">
    {% if graph_list %}

    {% for graph in graph_list %}

        <div id="{{graph.name}}" class="d-inline-flex p-2 viz-container">
            <div class="panel panel-default">
                <div class="panel-heading">{{graph.title}}</div>
                <div id="general_informations" class="panel-body">
                </div>

                <div id="{{graph.model}}" class="d3_panel"></div>
            </div>
        </div>

    {% endfor %}
    {% else %}
    <p>Aucun graphe.</p>
    {% endif %}
</div>

{% endblock body %}