{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'plot/css/dashboard.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
	Presentation des parcelles
</div>
{% endblock page_header%}
{% block body %}
<section id="Intro">
	<div class="col-lg-2">
		<button type="button" class="btn btn-light btn-lg"><a href="{% url 'plot:dashboard' %}">
				Accéder aux données <span class="badge badge-secondary"><span class="fa fa-database"
						aria-hidden="true"></span></span>
			</a>
			</bouton>
	</div>
</section>

<section id="NC-PIPPN">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h4>Réseau NC-PIPN</h4>
				<p class="text-justify">Le réseau NC-PIPPN pour 'New Caledonian Plant Inventories and Permanent Plot
					Network' a
					été crée en
					2005 par l'IRD de Nouvelle-Calédonie. Initialement construit sur un jeux de parcelle d'une
					superficie de 400 m² (soit 20 x 20 m), il combine aujourd'hui les inventaires de forme et de taille
					variées réalisés par l'UMR-AMAP dans les forêts de la Nouvelle-Calédonie, pour le moment
					exclusivement sur la Grande-Terre. Ce réseau compte aujourd'hui 503 parcelles et près de 70 000
					arbres étiquettés.</p>
			</div>
		</div>
	</div>
</section>

<section id="plot">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h4>Parcelle</h4>
				<p class="text-justify">Les parcelles représentent des dispositifs expérimentaux standardisés mis en
					place pour
					étudier les
					forêts. De formes variables, les parcelles respectent une superficie et une catégrorie d'organismes.
					Dans le projet Cogefor, les parcelles mises en place respectent les standards internationaux de
					l'étude des forêts et des arbres. Elles sont carrés et couvrent une superficie de 1 hectare (100 m x
					100 m). Dans ce carré, toutes les plantes arborescentes (arbres, lianes, palmiers et fougères) qui
					ont un diamètre de 10 cm à une hauteur standard de 1,3 (DBH130) depuis le sol sont prises en compte.
					Chacune de ces plantes est alors étiquettée d'un numéro unique, identifiée au niveau de l'espèce,
					mesurée en diamètre, positionnée dans le plan vertical (strates) et horizontal (coordonnée X et Y)
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock body %}