{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% load crispy_forms_tags %}
{% load bootstrap_tags %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "inventories/css/add_inventory.css" %}' />
{% endblock %}

{% block body_base %}
    <br>
    <form class="panel-body" method="POST">{% csrf_token %}
        <div class="container">
            <form action="" method="post">{% csrf_token %}
                <h3>Êtes-vous sûr de vouloir supprimer l'inventaire taxonomique, et toutes les occurrences qui lui sont attachées?</h3>
                <div style="margin-top:50px; width: 100%; text-align: center">
                    <input class="btn btn-danger" type="submit" value="Oui, je veux supprimer l'inventaire taxonomique" />
                </div>
            </form>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.js"></script>
    <script>
        var taxa_value = {{ taxa|safe }};
    </script>
    <script src='{% static "inventories/js/taxa_inventory.js" %}'></script>
{% endblock %}
