{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "inventories/css/consult_inventories.css" %}' />
    <link rel="stylesheet" href='{% static "css/olext.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
        <img id="preloader" src="{% static 'img/preloader.svg' %}"/>
        <h3 class="page-header">{{ title }}</h3>
        <div id="map"></div>
        <br>
        <p><a href="add/" class="btn btn-success" role="button">Saisir un inventaire</a></p>
        {% if username %}
            <div class="inline">
                <h4>Inventaires de {{ username }}</h4>
                <a href=".">Voir tous les inventaires</a>
            </div>
        {% else %}
            <div class="inline">
                <h4>Tous les inventaires</h4>
                <a href="?username={{ request.user.username }}">Voir uniquement mes inventaires</a>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                {# Pagination #}
                <ul class="pagination pagination-centered">
                    {% if page.has_previous %}
                        <li><a href="?page=1"> << </a></li>
                        <li><a href="?page={{ page.previous_page_number }}"> < </a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        <li {% if page.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
                    {% endfor %}

                    {% if page.has_next %}
                        <li><a href="?page={{ page.next_page_number }}"> > </a></li>
                        <li><a href="?page={{ page.paginator.num_pages }}"> >> </a></li>
                    {% endif %}
                </ul>
                {# Data table #}
                <table class="table" id="inventories_table">
                    <thead>
                        <tr>
                            {% for h in header %}
                                <th>{{ h }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in inventories %}
                            <tr>
                                {% for cell in row %}
                                    {% if forloop.counter == 5 %}
                                    <td>{{ cell|safe }}</td>
                                    {% else %}
                                    <td>{{ cell }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var rapid_inventory_url = "{{ geojson_url }}";
    </script>
{#    <script src='{% static "inventories/js/consult_inventories.js" %}'></script>#}
    <script src='{% static "inventories/js/jsbuild/consult_inventories.min.js" %}'></script>
{% endblock %}
