{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% load i18n %}

{% load crispy_forms_tags %}
{% load bootstrap_tags %}

{% block styles %}
    {{ block.super }}
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css' rel='stylesheet' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.css' rel='stylesheet' />
    <link rel="stylesheet" href='{% static "inventories/css/taxa_inventory.css" %}' />
{% endblock %}

{% block body_base %}
    <div class="container">
        <h1>Saisie d'occurrences</h1>
    </div>
    <form class="panel-body" method="POST">{% csrf_token %}
        <div class="container">
            {% if request.POST %}
            {% if not form.is_valid or error_location %}
                <div class="has-error"><span class="help-block">
                    <strong>Le formulaire comporte des erreurs, veuillez les corriger</strong>
                </span></div>
            {% endif %}
            {% endif %}
            <div class="panel panel-default ">
                <div class="panel-heading"><h4>{% trans "Informations générales" %}</h4></div>
                <div class="panel-body">
                    <div class="row no_top_margin">
                        <div id="external_lat_long" class="col-xs-12 col-md-5">
                            {% crispy form %}
                            <div id="lat_long"></div>
                            {% if error_location %}
                                <div class="has-error"><span class="help-block">
                                    <strong>La localisation des occurrences est obligatoire</strong>
                                </span></div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <label for="map" class="control-label required-field ">Localisation</label>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="long" id="long_hidden" value="{{ long }}">
                <input type="hidden" name="lat" id="lat_hidden" value="{{ lat }}">
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading"><h4>{% trans "Taxons observés" %}</h4></div>
                <div class="panel-body">
                {% if error_taxa %}
                    <div class="has-error"><span class="help-block">
                        <strong>Vous devez selectionner au moins un taxon</strong>
                    </span></div>
                {% endif %}
                    <div id="magicsuggest" class="dropup"></div>
                </div>
                <input type="hidden" name="taxa" id="taxa_hidden" value="{{ taxa }}">
            </div>
            <button type="submit" class="btn btn-success" role="button">Soumettre</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min.js"></script>
    <script>
        var taxa_value = {{ taxa|safe }};
    </script>
    <script src='{% static "inventories/js/taxa_inventory.js" %}'></script>
{% endblock %}
