#dashboard_row {
    width: 98%;
    margin: 30px 1% 20px 1%;
}

#preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
}

.panel-heading {
    height: 41px;
}

.d3_panel {
    height: calc(100% - 41px);
    margin: 0;
}

#taxon_treeview {
    margin-top: 20px;
    height: calc(100% - 20px);
    overflow: auto;
}

.list-group {
    margin: 0;
}

#left_panel {
    height: 100vh;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

#modal {
    top: 20%;
}

.modal-backdrop {
    opacity: 0 !important;
}

#selected_taxon_name {
    margin: 0;
}

.land {
  fill: #f5f5f5;
  stroke: #afafaf;
}

.dot {
    opacity: 1;
    stroke: #424242;
    stroke-width: 0.4;
}

path.slice{
    stroke-width: 1px;
    stroke: white;
}

#tooltip {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 15px 15px 0 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#prop_text {
    font-size: 18px;
}

#first_row { height: 50px; }
#second_row { height: 300px; }
#third_row { height: 350px; }
#fourth_row { height: 450px; }

.viz_container {
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.panel {
    height: 100%;
    margin-bottom: 0;
}
