#dashboard_row {
    width: 98%;
    margin: 30px 1% 20px 1%;
}

#preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
}

.panel-heading {
    height: 41px;
}

.d3_panel {
    height: calc(100% - 41px);
    margin: 0;
}

#taxon_treeview {
    margin-top: 20px;
    height: 400px;
    overflow: auto;
}

.list-group {
    margin: 0;
}

#left_panel {
    height: 539px;
}

#left_panel_placeholder {
    position: static;
}

.panel-fixed {
    position: fixed;
    top: 70px;
}

.panel-bottom {
    position: absolute;
    bottom: 41px;
}

#input_panel {
    padding: 15px 0 0 0;
}

#selected_taxon_name {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

.land {
  fill: #f5f5f5;
  stroke: #afafaf;
}

.dot {
    opacity: 1;
    stroke: #424242;
    stroke-width: 0.4;
}

path.slice{
    stroke-width: 1px;
    stroke: white;
}

#tooltip {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 15px 15px 0 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#prop_text {
    font-size: 18px;
}

#first_row { height: 40px; }
#second_row { height: 300px; }
#third_row { height: 350px; }
#fourth_row { height: 450px; }
#five_row { height: 300px; }
#six_row { height: 300px; }
#seven_row { height: 300px; }
#eight_row { height: 300px; }

.viz_container {
    height: 100%;
    padding: 5px 5px 5px 5px;
}

#count_occurrences_widget {
    height: 90%;
    width: 100%;
}

#distribution_alt_widget {
    height: 90%;
    width: 100%;
}

#distribution_alt_widget .tick line {
    opacity: .7;
    stroke-dasharray: 3;
    stroke: "#afafaf"
}

#wood_density_widget {
    height: 90%;
    width: 100%;
}

#height_max_widget {
    height: 90%;
    width: 100%;
}

#pluvio_alt_contour_widget {
    height: 90%;
    width: 100%;
}

#dbh_max_widget {
    height: 90%;
    width: 100%;
}

#pluvio_min_widget {
    height: 90%;
    width: 100%;
}

#distribution_dbh_widget {
    height: 90%;
    width: 100%;
}

#distribution_geo_widget {
    height: 90%;
    width: 100%;
}

.panel {
    height: 100%;
    margin-bottom: 0;
}

.gauge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gauge-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
}

.gauge g.arc {
    fill: steelblue;
}

.gauge g.pointer {
    fill: #4b4948;
    stroke: #070706;
}

.gauge g.pointer .arc_pointer {
    fill: #777472;
    stroke: #a8a4a2;
}

.gauge g.label text {
    text-anchor: middle;
    font-size: 1.2em;
    font-weight: bold;
    fill: #666;
}

.gauge .tickline {
    stroke: #fff;
}

.number-div {
    position: absolute;
    bottom: 3px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.number-unit {
    display: block;
    font-size: 12px;
}

.number-value {
    font-size: 15px;
}
