#dashboard_row {
    width: 98%;
    margin: 30px 1% 20px 1%;
}

#taxon_treeview {
    margin-top: 20px;
    height: calc(92% - 20px);
    /*border: rgba(0, 0, 0, 0.55) solid 1px;*/
    overflow: auto;
}

.list-group {
    margin: 0;
}

#left_panel {
    height: 70vh;
}

#right_panel {
    height: 70vh;
}

#selected_taxon_name {
    margin: 0;
}

#taxon_abstract {
    height: 10%;
}

#taxon_d3_viz {
    height: 90%;
}

.full_height {
    height: 100%;
}

#general_informations_container {
    height: 40%;
    padding: 0;
}

#taxon_proportions_container {
    height: 60%;
    padding: 0;
}

#map_container {
    height: 60%;
    padding: 0;
}

.panel {
    height: 100%;
    margin: 0;
    /*border-color: #5bb75b;*/
}

.land {
  fill: #fff;
  stroke: #ccc;
}
