#dashboard_row {
    width: 98%;
    margin: 30px 1% 20px 1%;
}

#preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
}

h5 {
    text-align: center;
}

#general_informations_container h5 {
    text-align: left;
}

#detailed_dashboards {
    margin-top: 20px;
}

.d3_panel {
    height: 100%;
    margin: 0;
}

#taxon_treeview {
    margin-top: 20px;
    height: calc(92% - 20px);
    /*border: rgba(0, 0, 0, 0.55) solid 1px;*/
    overflow: auto;
}

.list-group {
    margin: 0;
}

#left_panel {
    height: 70vh;
}

#right_panel {
    height: 70vh;
    position:relative;
    overflow: auto;
}

#taxon_d3_viz {
    height: 90%;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

#modal {
    top: 20%;
}

.modal-backdrop {
    opacity: 0 !important;
}

#selected_taxon_name {
    margin: 0;
    font-size: 28px;
}

#taxon_abstract {
    height: 7%;
}

.full_height {
    height: 100%;
}

#general_informations_container {
    height: 25%;
    padding: 0;
    margin: 0;
    min-height: 135px;
}

#taxon_proportions_container {
    height: 75%;
    padding: 0;
    margin: 0;
}

#map_container {
    height: 75%;
    padding: 0;
    margin: 0;
}

#map_label {
}

#pie_label {

}

#taxon_proportions_widget {
    height: 90%;
}

#map_widget {
    height: 90%;
}

.land {
  fill: #fff;
  stroke: #ccc;
}

svg {
    width: 100%;
    height: 100%;
}

path.slice{
    stroke-width: 1px;
    stroke: white;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 15px 15px 0 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#prop_text {
    font-size: 18px;
}
