<!doctype html>
<html lang="fr">
{% load staticfiles %}

<head>
  <meta charset="utf-8">
  <title>Serveur en maintenance</title>
  <link rel="stylesheet" href="{% static 'css/maintenance.css' %}">

</head>

<body>


  <h1>Site en maintenance</h1>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>

  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
  <div class="firefly"></div>
</body>

</html>