{% load staticfiles %}
<footer class="">
  <div class="container">
    <div class="logos row">
      <div class="col-3 d-flex"><a class='logo' href="https://www.province-nord.nc/" target="_blank">
          <figure>
            <img id=pn src="{% static 'img/logo/pn_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="http://amap.cirad.fr/" target="_blank">
          <figure>
            <img id=amap src="{% static 'img/logo/amap_100.png' %}">
          </figure>
        </a>
      </div>
      <div class="col-2"></div>
      <div class="col-6 d-flex">
        <a class='logo' href="http://iac.nc/" target="_blank">
          <figure>
            <img id=iac src="{% static 'img/logo/iac_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="https://nouvelle-caledonie.ird.fr/" target="_blank">
          <figure>
            <img id=ird src="{% static 'img/logo/ird_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="https://cirad.fr/" target="_blank">
          <figure>
            <img id=cirad src="{% static 'img/logo/cirad_100.png' %}">
          </figure>
        </a>
      </div>
    </div>
    <div class="row copy">
      <div class="col-md-7">
        <p class="text-right">&copy; Copyright 2020 - Niamoto</p>
      </div>
      <div class="col-md-5">

        <p class="text-right">
          <a href='https://github.com/CheckFly/niamoto-portal' target="_blank">
            <span class="fab fa-github fa-lg" aria-hidden="true"></span>
            </a>
          - Mise à jour le {{siteinfos.0.dateUpdateData}}</p>
      </div>
    </div>
  </div>
</footer>