{% load staticfiles %}
<footer class="">
  <div class="container">
    <div class="logos row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-5 d-flex"><a class='logo' href="https://www.province-nord.nc/" target="_blank">
          <figure>
            <img id=pn class="img-fluid" src="{% static 'img/logo/pn_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="http://amap.cirad.fr/" target="_blank">
          <figure>
            <img id=amap class="img-fluid" src="{% static 'img/logo/amap_100.png' %}">
          </figure>
        </a>
      </div>
      <div class="col-1 col-sm-0 col-lg-1"></div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-6 d-flex">
        <a class='logo' href="http://iac.nc/" target="_blank">
          <figure>
            <img id=iac class="img-fluid" src="{% static 'img/logo/iac_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="https://nouvelle-caledonie.ird.fr/" target="_blank">
          <figure>
            <img id=ird class="img-fluid" src="{% static 'img/logo/ird_100.png' %}">
          </figure>
        </a>
        <a class='logo' href="https://cirad.fr/" target="_blank">
          <figure>
            <img id=cirad class="img-fluid" src="{% static 'img/logo/cirad_100.png' %}">
          </figure>
        </a>
      </div>
    </div>
    <div class="row copy">
      <div class="col-md-7">
        <p class="text-right">&copy; Copyright 2020 - Niamoto</p>
      </div>
      <div class="col-md-5">

        <p class="text-right">
          <a href='https://github.com/niamoto/niamoto-portal' target="_blank">
            <span class="fab fa-github fa-lg" aria-hidden="true"></span>
            </a>
          - Mise à jour le {{siteinfos.0.dateUpdateData}}</p>
      </div>
    </div>
  </div>
</footer>