<nav id="navbar" class="navbar navbar-expand-md navbar-dark  btco-hover-menu bg-bandeau-default fixed-top">
  <div id="mainNav" class="container">

    <a class="navbar-brand" href="{% url 'home' %}">Cogefor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'home' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">
            Accueil</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'home' %}#Intro">Introduction</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}#ecologie">Ecologie</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}#projet">Projet</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}#now">Et maintenant</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'methodologie' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Méthodologie</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#NC-PIPPN">Réseau NC-PIPPN</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#plot">Parcelle</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#holdridge">Holdridge</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#env">Enveloppe Environnementale</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#sdm">SDM</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#ssdm">S-SDM</a></li>
            <li><a class="dropdown-item" href="{% url 'methodologie' %}#richess">Richesse</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'taxon:presentation' %}" aria-haspopup="true"
            aria-expanded="false">Arbres</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="">Généralités</a></li>
            <li><a class="dropdown-item" href="">Partie1</a></li>
            <li><a class="dropdown-item" href="">Partie2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'plot:presentation' %}" id=" navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Forêts</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="">Généralités</a></li>
            <li><a class="dropdown-item" href="">Partie1</a></li>
            <li><a class="dropdown-item" href="">Partie2</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Accéder aux données</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'taxon:dashboard' %}">Arbres</a></li>
            <li><a class="dropdown-item" href="{% url 'plot:dashboard' %}">Parcelles</a></li>
            <li><a class="dropdown-item" href="{% url 'shape:dashboard' %}">Emprise</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="{% url 'ressources' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Ressources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Equipe</a></li>
            <li><a class="dropdown-item" href="#">Puplication</a></li>
            <li><a class="dropdown-item" href="#">Formations</a></li>
            <li><a class="dropdown-item" href="#">Livres</a></li>
            <li><a class="dropdown-item" href="#">Listes des arbres</a></li>
          </ul>
        </li>
    </div>
  </div>
</nav>