{% load staticfiles %}
<nav id="navbar" class="navbar-expand-md navbar-dark  btco-hover-menu bg-bandeau-default fixed-top">
  <div id="mainNav" class="d-flex align-content-center">

    <div class="p-2 navbar-brand">Niamoto</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="p-2 collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'home' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">
            Accueil</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'home' %}#introduction">Introduction</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'home' %}#project">Projet</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'home' %}#objective">Objectifs</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'home' %}#context">Contexte</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'home' %}#flora">Flore</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'methodologie' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Méthodologie</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'methodologie' %}#preambule">Préambule</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'methodologie' %}#methodes">Nos méthodes</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'methodologie' %}#faq">Questions/réponses</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'taxon:presentation' %}" aria-haspopup="true"
            aria-expanded="false">Arbres</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'taxon:presentation' %}#preambule">Préambule</a>
            </li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'taxon:presentation' %}#learnTaxon">Étudier les
                arbres</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'taxon:presentation' %}#taxon">Les arbres de
                Nouvelle-Calédonie</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'plot:presentation' %}" aria-haspopup="true"
            aria-expanded="false">Peuplements</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'plot:presentation' %}#preambule">Préambule</a>
            </li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'plot:presentation' %}#learnPlot">Étudier les
                peuplements
                forestiers</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'plot:presentation' %}#plot">Les
                peuplements forestiers de Nouvelle-Calédonie</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'shape:presentation' %}" id=" navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Forêt</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'shape:presentation' %}#preambule">Préambule</a>
            </li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'shape:presentation' %}#learnForest">Étudier les
                forêts</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'shape:presentation' %}#forestPN">La forêt de la
                province Nord</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Accéder aux données</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'taxon:dashboard' %}">Arbres</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'plot:dashboard' %}">Peuplements</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'shape:dashboard' %}">Forêt</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown text-lowercase">
          <a class="nav-link " href="{% url 'ressources' %}" id="navbarDropdownMenuLink" aria-haspopup="true"
            aria-expanded="false">Ressources</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item text-lowercase" href="{% url 'ressources' %}#equipe">Équipe</a></li>
            <li><a class="dropdown-item text-lowercase" href="{% url 'ressources' %}#production"">Productions</a></li>
            <li><a class=" dropdown-item text-lowercase" href="{% url 'ressources' %}#listTree">Liste des arbres</a>
            </li>
          </ul>
        </li>
    </div>
    <div id='logos' class="p-2 collapse navbar-collapse">
      <a class='logo' href="https://www.province-nord.nc/" target="_blank">
        <figure>
          <img id=pn_50 src="{% static 'img/logo/pn_50.png' %}">
        </figure>
      </a>
      <a class='logo' href="http://amap.cirad.fr/" target="_blank">
        <figure>
          <img id=amap_50 src="{% static 'img/logo/amap_50.png' %}">
        </figure>
      </a>
      <a class='logo' href="http://iac.nc/" target="_blank">
        <figure>
          <img id=iac_50 src="{% static 'img/logo/iac_50.png' %}">
        </figure>
      </a>
      <a class='logo' href="https://nouvelle-caledonie.ird.fr/" target="_blank">
        <figure>
          <img id=ird_50 src="{% static 'img/logo/ird_50.png' %}">
        </figure>
      </a>
      <a class='logo' href="https://cirad.fr/" target="_blank">
        <figure>
          <img id=cirad_50 src="{% static 'img/logo/cirad_50.png' %}">
        </figure>
      </a>
    </div>
  </div>
</nav>