{% extends '_base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/methodologie.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
  Méthodologie
</div>
{% endblock page_header%}
{% block body %}
<section id="coverForest">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Couverture forestière</h2>
      </div>
    </div>
  </div>
</section>

<section id="holdridge">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Holdridge</h2>
        <img src="{% static 'img/humidity_provinces.jpg' %}" alt="Leslie Holdridge">

        <p">La classification des milieux de vie dite de Holdrige a été crée en 1947 par le
          botaniste anglais
          Leslie Ransselaer Holdridge. classification internationale repose sur un ensemble de variables
          climatiques qui définissent l'ambiance bioclimatique d'une région ou d'un paysage, notamment la
          pluviométrie, la température et l'évapotranspiration potentielle. Cette classification
          internationale est largement utilisée pour identifier les milieux dans lesquels évoluent les
          organismes et les habitats.</p>

          <p>
            En Nouvelle-Calédonie, la classification de Holdrige basée sur les données climatiques mondiales
            (WorldClim) et la pluviométrie locale (Modèle Aurelhy, météo France) conduit à définir 5 grandes
            classes de milieux de vie dans le biome tropical de la Nouvelle-Calédonie (very dry, dry, moist, wet
            and rain). La combinaison avec la couverture forestière aboutit à définir arbitrairement 5 classes
            de forêt (forêt très sèche, forêt sèche, forêt humide, forêt très humide et forêt toujours humide).
          </p>
      </div>
    </div>
  </div>
</section>
<section id="env">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Enveloppe envionnementale</h2>
        <img src="{% static 'img/envEnviron.png' %}" class="img-thumbnail" alt="Enveloppement environnementale">
        <p>L'enveloppe environnementale est une représentation à plat d'une distribution composée
          de trois
          paramètres que sont la pluviométrie, l'altitude et la proportion d'habitat (ou d'occurence)
          disponible. Basée sur une représentation en graphe de chaleur, cette classification permet
          d'identifier l'enveloppe dans laquelle se distribue les forêts de la Nouvelle-Calédonie et
          spécifiquement celles de la province Nord. Cette représentation permet notamment de constater que
          les habitats de la province Nord sont principalement distribués à basses altitudes et pluviométries
          tandis que les occurrences sont à l'inverse davantage distribuées à haute pluviométrie & altitude.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="sdm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>SDM</h2>
        <p>Les SDM (Species Distribution Models) représentent une projection spatiale des
          relations
          plante-environnement. Concrètement ce modèle est construit à partir des occurences de l'espèce pour
          lesquelles on connait les variables environnementales (e.g. pluviométrie, température, pente,
          substrat, perturbations,...). La somme de ces variables permet de définir une enveloppe
          environnementale dans laquelle l'espèce est suceptible de se développer (i.e. en anglais = Habitat
          suitability). La projection géographique de cette enveloppe offre alors une vision cartographique
          des secteurs dans laquelle l'espèce a une forte probabilité de trouver les conditions idoines pour
          se développer.</p>
        <p> trop souvent les SDM sont associés à des cartes de distribution potentielle, ce qui
          constitue un raccourci inexact.Ce n'est pas parce que le modèle prédit que l'habitat est favorable
          que l'espèce est réellement présente. D'autres paramètres influencent la présence des espèces dont
          la dispersion qui peut permettre ou non à l'espèce de coloniser les milieux favorables.</p>
      </div>
    </div>
  </div>
</section>
<section id="ssdm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>S-SDM</h2>
        <p>Les S-SDM (Stacked Species Distribution Models) représentent la compilation des SDM pour
          une liste
          d'espèce sur une superficie. En d'autres termes et avec la même prudence que dans le cas des SDM,
          ils représentent la somme des probabilités de chacune des espèces. Ils permettent par exemple de
          prédire la richesse potentielle d'un hectare de forêt en chaque point d'un territoire en se basant
          sur la distribution connue des espèces.</p>
      </div>
    </div>
  </div>
</section>
<section id="richess">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Richesse</h2>
        <p>La richesse (ou diversité alpha) est une variable fréquemment utilisée pour évaluer et
          comparer la
          diversité des communautés d'arbres. Elle représente par exemple le nombre d'espèces d'arbres que
          l'on rencontre sur une parcelle. La richesse évolue avec l'environnement. Si elle atteint des
          valeurs maximales de 120 espèces à l'hectare à moyenne altitude (400-600m), elle décroit
          significativement aux deux extrêmes du domaine altitudinale pour atteindre seulement 30-40
          espèces/hectare à 100m ou à 1000m d'altitude.</p>
      </div>
    </div>
  </div>
</section>
<section id="dbh">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>DBH</h2>
        <p>Diameter at breast height, le DBH est une méthode standard pour mesurer le diamètre d'un
          arbre à la hauteur de la poitrine d'un humain, généralement fixé à 1,30 m du sol. Cette mesure décalée depuis
          le sol permet notamment de comparer les diamètres des arbres entre-eux en évitant de donner une importance
          particulière à l'empattement du tronc. Dans la pratique, c'est la circonférence de l'arbre qui est mesurée à
          une hauteur moyenne de la poitrine en évitant, autant que possible les excroissances du tronc (e.g. bourrelet,
          contreforts, racines-échasses,...). Cette mesure permet de comparer les arbres d'une même espèce entre-eux en
          considérant que ce diamètre est une approximation de l'âge relatif, c'est-à-dire que le diamètre est
          proportionnel à l'âge de l'arbre en partant du postulat que le diamètre de l'arbre augmente au fur et à mesure
          de son ontogénie.</p>
      </div>
    </div>
  </div>
</section>
<section id="woodDensity">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Wood density</h2>
        <p></p>
      </div>
    </div>
  </div>
</section>
<section id="strates">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Strates</h2>
        <p></p>
      </div>
    </div>
  </div>
</section>




{% endblock body %}