{% extends '_base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/methodologie.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
  Méthodologie
</div>
{% endblock page_header%}
{% block body %}

<section id="preambule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Préambule</h2>
        <p><b>La méthodologie se situe au cœur de notre métier de botanistes-écologues, elle nous conduit à définir les
            protocoles qui permettent d’accumuler et d’analyser des données pour répondre à une question qui repose
            elle-même sur les résultats d’une ou de plusieurs autres études.</b></p>
        <p>
          La méthode scientifique permet à chacun de reproduire une étude dans le même contexte technique. C’est un peu
          comme une recette de cuisine qui permet à chacun de reproduire le délicieux gâteau. La première phase de la
          méthode, et peut être la plus importante, est de compiler les travaux issus du monde scientifique au travers
          d’une veille bibliographique continue. C’est à partir de cette première pierre de la connaissance qu’il est
          possible de construire une méthode robuste pour évaluer un écosystème comme la forêt. Cependant il faut
          toujours rester prudent sur les conclusions puisque ce que nous mesurons reste souvent un epsilon de la
          réalité.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="methodes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Nos méthodes</h2>
        <h5>Taxonomie et identification</h5>
        <p>La taxonomie est une classification du monde vivant basée sur des critères de similitude qui a pour objet de
          décrire les organismes et de les regrouper. Initialement basée sur la comparaison morphologique, elle s‘appuie
          désormais sur la biologie moléculaire et tous les outils issus de la génétique.</p>
        <figure>
          <div class="mx-auto d-block">
            <img class="" id="diagram" src="{% static 'img/methodes/Picture1.png' %}"></img>
          </div>
        </figure>
        <p>La taxonomie prend une place fondamentale dans nos recherches. La délimitation des espèces, et plus
          exactement des taxons, se situe à la base de tous les traitements et analyses. La taxonomie évolue
          perpétuellement, ce qui modifie le regroupement de nos individus. Ainsi un inventaire qui contient 100 espèces
          à un instant donné sera plus ou moins riche lors de sa relecture en fonction du remaniement taxonomique fait
          par les taxonomistes. Les espèces, les genres ou encore les familles sont concernés par ces remaniements qui
          sont publiés dans des revues internationales. Pour assurer la cohérence de nos travaux, nous suivons
          l’évolution de cette taxonomie au travers du groupe <span><a
              href="http://publish.plantnet-project.org/project/florical_fr" target="_blank"><u>Florical </u></a></span>qui publie
          régulièrement les derniers états de la classification de la flore de Nouvelle-Calédonie en conformité avec la
          classification mondiale des angiospermes APG IV, proposée par "l’<em><i>Angiosperm Phylogeny Group</i></em>".
        </p>
        <p> </p></br></br></br></br></br>
        <h5>Identification des plantes</h5>
        <p>La détermination du nom d’un arbre est une expertise qui repose sur un ensemble de compétences acquises au
          laboratoire et sur le terrain. L’expérience de la flore locale est indispensable pour apporter une
          identification de qualité.</p>
        <figure>
          <div class="mx-auto d-block">
            <img class="" id="ident" src="{% static 'img/methodes/Picture2.png' %}"></img>
          </div>
        </figure>
        <p>Au-delà de donner le nom de l’espèce, le botaniste réunit tous les indices qui lui permettent de rapprocher
          un individu-arbre rencontré sur le terrain avec une espèce connue et décrite dans la flore de la
          Nouvelle-Calédonie. Cependant, alors que dans la flore les espèces sont décrites par la totalité de leurs
          critères morphologiques et anatomiques, le botaniste sur le terrain ne dispose généralement que de quelques
          informations, qui sont parfois peu accessibles ou uniquement perceptibles aux jumelles. C’est ainsi que si les
          espèces sont souvent décrites précisément par leurs appareils sexuels (fleurs &amp; fruits), le botaniste de
          terrain ne peut que rarement compter sur ces critères éphémères pour identifier une espèce; dans une parcelle
          de forêt moins de 5 % des arbres sont en fleur ou en fruit au moment de leur identification. Le botaniste fait
          alors appel à des critères qui reposent sur sa propre expertise acquise au fur et à mesure de son observation
          des plantes à différents âges et dans différents lieux. Cette connaissance lui permet de proposer un nom pour
          chaque arbre rencontré sur le terrain et s’il est dans l’impossibilité d’atteindre le niveau espèce ou le
          niveau infra-spécifique, il collecte un rameau de l’arbre qui lui permettra de faire des comparaisons avec
          une collection d’échantillons archivés dans un herbier. Les botanistes de notre équipe travaillent dans et
          avec l’<span><a href="http://publish.plantnet-project.org/project/nou" target="_blank"><u>herbier de la
                Nouvelle-Calédonie</u></a></span> où ils déposent et identifient les échantillons collectés sur le
          terrain. Malgré ce travail gigantesque certains arbres ne peuvent pas être identifiés jusqu’au nom de
          l’espèce, parfois simplement car ils sont trop hauts et inaccessibles sans devoir déployer des moyens
          démesurés. Ils sont alors exclus des analyses qui portent sur la quantification de la richesse spécifique.</p>
        <h5>Les inventaires sur le terrain</h5>
        <p>Les données incluses dans ce site reposent sur <span><a href="https://niamoto.nc/ressources/#listTree"><u>la
                liste des espèces d'arbres</u></a></span> de la Nouvelle-Calédonie. Cette liste se base sur les nombreux
          inventaires de terrain qui s’accumulent dans nos bases de données au fur et à mesure des études que nous
          réalisons.</p>
        <p>Les<span><a href="https://niamoto.nc/forets/#learnPlot"><u> inventaires recouvrent de nombreuses
                méthodes</u></a></span> mais ils contiennent tous à minima une information relative à la présence d’un
          arbre dans un lieu donné. Ce couple qui lie l'identification d'une espèce et sa coordonnée géographique
          constitue une source de donnée fondamentale pour les études écologiques. En effet, la coordonnée permet
          d'inférer de nombreux paramètres (altitude, milieux, topographie, pluviométrie, substrat, distance aux
          habitations,...) à l'espèce. Accumulées depuis des années, ces données dessinent progressivement le contour
          des conditions environnementales propices au développement d’une espèce. Avec ce simple couple de données,
          nous pouvons dresser les préférences écologiques de chaque taxon en plus de sa distribution dans l’espace
          géographique.</p>
        <figure>
          <div class="mx-auto d-block">
            <img class="" id="inventory" src="{% static 'img/methodes/Picture3.png' %}"></img>
          </div>
        </figure>
        <p>Les inventaires permettent d’accéder à la notion d’abondance locale en ajoutant le nombre d’individus de
          chaque espèce comptée sur la superficie effective de l’inventaire. Certaines espèces peuvent alors être rares
          à l’échelle de la Nouvelle-Calédonie et très abondante localement, comme <em><i>Acropogon
              aoupiniensis</i></em> Morat qui est une espèce micro-endémique qui se rencontre exclusivement aux abords
          du Mont Aoupinié et qui simultanément est l’espèce la plus abondante de notre parcelle de 1 ha située sur ce
          massif.</p>
        <p>Les inventaires sont également utilisés pour définir les traits fonctionnels d’une espèce, c’est-à-dire ses
          propriétés intrinsèques qui définissent son comportement. Les traits fonctionnels sont généralement des
          mesures (diamètre, hauteur, densité de bois, strate, épaisseur et superficie des feuilles,...) qui dressent un
          profil général pour chaque espèce. Ces profils forment des groupes fonctionnels qui permettent de comparer des
          peuplements sur la base de leur composition fonctionnelle plutôt que sur leur composition floristique. Par
          exemple, le diamètre maximal atteint par une espèce dans tous nos inventaires est un trait fonctionnel qui
          permet de fixer son statut d’arbre puisque seules les espèces qui peuvent atteindre 10 cm de diamètre à 1,3 m
          du sol (DBH) sont qualifiées d’arbre. Les traits fonctionnels plus complexes à mesurer, tels que les
          propriétés des feuilles, permettent d’attribuer une résistance de l’espèce aux conditions de l’environnement,
          notamment l’aridité. Néanmoins, si ces traits fonctionnels sont précieux pour explorer davantage le
          comportement des espèces, ils ne représentent que des raccourcis dans des processus beaucoup plus complexes
          que ces traits qualifiés de ‘<em><i>soft’ </i></em>ne peuvent appréhender entièrement.</p>
        <p> </p>
        <h5>Les analyses statistiques</h5>
        <p>Parce que la biologie est un domaine où la variation est une propriété fondamentale, il n’est pas possible
          d’analyser les données sans évaluer la pertinence des résultats en suivant un protocole statistique rigoureux.
        </p>
        <figure>
          <div class="mx-auto d-block">
            <img class="" id="stat" src="{% static 'img/methodes/Picture4.png' %}"></img>
          </div>
        </figure>
        <p>En effet, les évidences qui semblent apparaître en consultant rapidement un jeu de données peuvent provenir
          de différents biais qui concourent à laisser envisager un lien de cause à effet (corrélation), là où seul le
          hasard est intervenu. Les statistiques sont utilisées pour évaluer la probabilité qu’une hypothèse soit liée
          au hasard en tenant compte de la taille et de la distribution de l’échantillon. En général ces statistiques
          sont associées à une hypothèse nulle qui représente une relation liée au hasard. Par exemple, une telle
          hypothèse pourrait tester si la distribution d’une plante est liée au hasard ou au contraire à l’une ou
          l’autre des conditions environnementales (substrat, topographie, altitude, milieu,...).</p>
        <p>Les statistiques en écologie reposent sur des méthodes très complexes dont la perspicacité pour répondre à la
          question posée doit toujours être critiquée. Certaines données auto-corrélées, telles que l’altitude et la
          température qui évoluent ensemble, doivent être traitées pour ne pas sur-évaluer le poids du paramètre seul.
          Les données utilisées dans ce travail sont traitées en utilisant des méthodes statistiques publiées et
          validées par un comité de lecture externe. La <span><a
              href="https://niamoto.nc/ressources/#production"><u>liste des publications</u></a></span> associées à
          ce travail dévoilent la profondeur des études statistiques et mathématiques qui sont utilisées pour analyser
          des paramètres qui peuvent paraître simples, comme la distribution de la richesse selon l’altitude (Ibanez et
          al., 2014; Birnbaum et al., 2015).</p>
        <h5>Les analyses géographiques</h5>
        <figure>
          <div class="mx-auto d-block">
            <img class="" id="geo" src="{% static 'img/methodes/Picture5.png' %}"></img>
          </div>
        </figure>
        <p>La forêt est une entité qui ne se mesure pas exclusivement par le nombre et la nature de ses espèces. La
          distribution géographique de cet écosystème permet d’aborder des questions sur son organisation dans le
          paysage de la Nouvelle-Calédonie. Où se trouvent les forêt ? Quelles sont les surfaces occupées ? Quel est
          l’état de la fragmentation ? sont autant de questions qui relèvent de la géographie. L’étendue de la forêt
          calédonienne est étudiée au travers des outils les plus modernes, tels que les imageries satellitaires ou
          aéroportées qui fournissent des données brutes qu’il convient de confronter aux réalités de terrain. La
          cartographie des forêts s’appuie sur ces données pour délimiter précisément les ensembles de forêt au travers
          d’une validation reposant sur une expertise en photo-interprétation associée à un corpus de données. Ces
          analyses géographiques sont ainsi confrontées aux inventaires de terrain pour paramétrer des modèles qui
          permettent d’extrapoler une mesure sur toute l’étendue géographique qu’il s’agisse par exemple de la mesure de
          la biomasse via l’étude de la structure de la canopée sur des images Pléiades (Blanchard et al., 2015, 2016)
          ou encore de la distribution de la richesse en arbre en utilisant une série d’image Landsat (Pouteau et al.,
          2018). Bien entendu les analyses statistiques sont utilisées également ici pour définir le domaine de validité
          de ces modèles.</p>
        <p> </p>
        <h5>L’informatique</h5>
        <p>Toutes ces données ne pourraient être utilisées convenablement sans un stockage rigoureux sous la forme de
          jeux de données numériques et leur exploitation par des langages informatiques appropriés. Chaque inventaire,
          propriété fonctionnelle ou taxonomique mentionné dans ce travail est stocké dans une base de données
          relationnelle, qu’il s’agisse des données textuelles (chiffre, texte) ou géographiques (couche vectorielle).
          Le
          stockage, l’analyse et l’exploitation des données sont exclusivement réalisés avec des logiciels dits
          «open-source» depuis le système d’exploitation (linux) jusqu’aux outils de bases de données (PostgreSQL,
          PostGIS, Gdal), de cartographie (Qgis), de statistique (R), de développement informatique (Python, Django), de
          gestion d’images (Gimp, Dartable) ou encore de bureautique (WPS). Le développement de ce site est
          intégralement conçu est réalisé par notre équipe. Son contenu reflète l’état de nos connaissances en éliminant
          le plus possible l’interprétation. C’est ainsi que vous constaterez nos lacunes sur des pans entiers
          de l’écologie forestière, sur des taxons tellement rares que nous ne les avons jamais rencontrés dans nos
          inventaires, sur des périodes de phénologie incomplète, sur des contenus déséquilibrés. Cette discipline
          avance en fonction de ces données, elle progresse continuellement si bien que ce qui est rapporté dans ce site
          n’est qu’un instantané de la progression de notre connaissance.</p>
      </div>
    </div>
  </div>
</section>
<section id="faq">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <h2>Questions-Réponses</h2>
        <p>L’objectif de ce site est de permettre au plus grand nombre de connaître l’état de nos recherches sur les
          forêts de la Nouvelle-Calédonie. Même si nous faisons l’effort de rendre accessible cette connaissance,
          certains termes ou concepts utilisés peuvent paraître mystérieux. Nous tentons de répondre ici à quelques
          interrogations les plus communément exprimées</p>
        </br>
        <div class="accordion" id="faqExample">
          {% for faq in faqs %}
          <div class="card">
            <div class="card-header p-2" id="heading{{faq.id}}">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{faq.id}}"
                  aria-expanded="true" aria-controls="collapse{{faq.id}}">
                  <b>{{faq.question}}</b> </button>
              </h5>
            </div>
            <div id="collapse{{faq.id}}" class="collapse" aria-labelledby="heading{{faq.id}}" data-parent="#faqExample">
              <div class="card-body">{{faq.ask}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
</section>


{% endblock body %}