{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/simplePage.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ressources.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
  Ressources
</div>
{% endblock page_header%}
{% block body %}
<section id="equipe">
  <div class="container">
    <div class="row">
      <h4>Equipe</h4>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      <div class="cards">

        {% if persons %}

        {% for person in persons %}
        <div id={{person.id}}_person class="card card-flip">
          <div class="card-front">

            {%if person.image%}
            <img class="card-img-top center-block rounded-circle" src="../static/img/persons/reduce/{{person.image}}">
            {%else%}
            <div class="portrait">
              <i class="fas fa-portrait fa-9x fa-border"></i>
            </div>
            {%endif%}

          </div>
          <div class="card-back">
            <div class="card-block">
              <h5 class="card-title"> {{person.first_name|capfirst}} {{person.last_name|capfirst}} </h5>
              {% if activities%}
              {% for activity in activities%}
              {% if person.id == activity.person_id %}
              <p class="card-text">
                <a data-toggle="popover" data-title="{{activity.title}}"
                  data-content="{{activity.description|default:''}}" data-trigger='hover' data-placement='auto'>
                  {{activity.first_year|default:"..."}}-{{activity.first_month|default:""}}
                  {{activity|truncatechars:75}}</a>
              </p>
              {%endif%}
              {%endfor%}
              {%endif%}
              <!-- <a href="#" class="btn btn-primary">See Profile</a> -->


            </div>
          </div>

        </div>
        {% endfor %}

        {% else %}
        <p>Aucune personne.</p>
        {% endif %}

      </div>
    </div>
  </div>
</section>

<section id="support">
  <div class="container">
    <div class="row">
      <h4>Publication</h4>

      {%if ressources%}
      <div class="row ressources">
        <table>
          <thead>
            <tr>
              <th>Année</th>
              <th>Auteur et titre du document</th>
            </tr>
          </thead>
          <tbody>
            {%for ressource in ressources%}



            {% if ressource.support == "publication" %}
            <tr class="col-12 {{ressource.support}}">

              <td>{{ressource.year|default:""}}</td>
              <td><a {% if ressource.link %} href="{{ressource.link|default:""}}"
                  {% endif %}>{{ressource.who|default:""}}{% if ressource.who %}, {% endif %}
                  <strong>{{ressource.description|default:""}}</strong>{% if ressource.description %}, {% endif %}
                  <em>{{ressource.journal|default:""}}</em>{% if ressource.journal %}, {% endif %}
                  {{ressource.issue|default:""}}{% if ressource.issue %}, {% endif %}
                  {{ressource.pages|default:""}}
                </a></td>
            </tr>
            {%endif%}

            {%endfor%}
          </tbody>
        </table>
        {%endif%}
      </div>
    </div>
  </div>
</section>
<section id="listTree">
  <div class="container">
    <div class="row">
      <h4>Listes des arbres</h4>

      {%if trees%}
      <div class="row listTree">
        <table>
          <thead>
            <tr>
              <th>Famille</th>
              <th>Espèces</th>
              <th>Nom</th>
              <th>Statut</th>
              <th>Liens</th>
            </tr>
          </thead>
          <tbody>
            {%for tree in trees%}




            <tr class="col-12">

              <td>{{tree.family_name|default:""}}</td>
              <td>{{tree.species_name|default:""}}</td>
              <td>{{tree.name|default:""}}</td>
              <td>{{tree.statut|default:""}}</td>
              <td>{%if tree.id_endemia %}
                <a href="http://endemia.nc/flore/fiche{{tree.id_endemia}}">Endemia </a>
                {%endif%}
                {%if tree.id_florical %}
                <a
                  href="http://publish.plantnet-project.org/project/florical_fr/collection/florical/taxons/details/{{tree.id_florical}}">Florical</a>
                {%endif%}</td>
            </tr>

            {%endfor%}
          </tbody>
        </table>
        {%endif%}
      </div>
    </div>
  </div>
</section>
{% endblock body %}

{% block scripts %}
{{ block.super }}

<script src="{% static 'js/ressources.js' %}"></script>
{% endblock scripts %}