/*----------*/
/* Controls */
/*----------*/

/* Current scale */
.olext-current_scale {
    top: 5px;
    right: 5px;
    color: #FAFAFA;
}

/* Layers visibility */
.olext-layers_visibility {
    margin: 0;
    bottom: 5px;
    left: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

.olext-layers_visibility li input {
    float: right;
}

/* Set scale */
.olext-set_scale {
    bottom: 5px;
    right: 5px;
}

.olext-set_scale button {
    width: auto !important;
    padding: 3px !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

/* Progress bar */
.olext-progress_bar {
    width: 30%;
    top: 45%;
    left: 35%;
    height: 22px;
}

.olext-progress_bar-progress {
    width: 99%;
    height: 20px;
}

.olext-progress_bar-label {
    position: absolute;
    color: black;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
}


/*----------*/
/* Overlays */
/*----------*/

/* Popup */
.olext-popup {
    display: block;
    line-height: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 250px;
    position: relative;
    top: -15px;
    pointer-events: all;
}

.olext-popup:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFFFFF;
    border-width: 10px;
    margin-left: -10px;
    pointer-events: none;
}

.olext-popup-title {
    padding: 8px 14px;
    margin: 0px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    font-size: 13px;
}

.olext-popup-content {
    padding: 9px 14px;
    font-size: 13px;
}

.olext-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.olext-popup-closer:after {
  content: "✖";
}
