@import "../../../../../niamoto_portal/static/css/source/partials/color";
@import "../../../../../niamoto_portal/static/css/source/partials/style";


body {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

#home.bgimg-home {

  .bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @extend .bgimg;
  background-image: url("../img/home_background.jpg");
  min-height: 100%;
  padding: 0;

  .text-contour {
    text-shadow: $color_text_contour 1px 1px, $color_text_contour -1px 1px, $color_text_contour -1px -1px, $color_text_contour 1px -1px;
    text-shadow: 0px 0px 2px rgba(100, 100, 100, 1);
  }

  .text_home {
    background-color: rgba($color: #000000, $alpha: .35); // display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 50px;
    // display: inline-block;
    padding: 20px;
    width: 100%;
    height: 950px;
    vertical-align: middle;
    text-align: center;
    // line-height: 900px;
  }
}

// body {
  //   background: url("../img/plant_background.png") left repeat-y, url("../img/plant_background.png") right repeat-y;
  //   background-size: 21%, 21%;
  // }

.row {
  background-color: white;
}

#home .row {
  background-color: rgba($color: #000000, $alpha: 0);
}

#home .logos {
  position: relative;
  top: 805px;
  background-color: rgba(255,255,255,0) ;
  border-radius: 5px;
  padding: 20px;

  .d-flex{
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 0 5px 5px 0;
  }
  img {
    height: 4.7em;
    padding: 5px;
  }
}

#context {
  #map_pacific {
    height: 250px;
    @extend .image_float_top_left;
  }
}

#flora {

  #Stenocarpus_trinervis {
    border-radius: 0 5px 5px 0;
  }

  #Zygogynum_mackeei {
    border-radius: 5px 0 0 5px;
  }

  #Parasitaxus_usta {
    @extend .image_center;
  }

}