#body-container {}

h4 {
    margin-top: 0px;
    font-size: 20px;
}

.input-group-addon,
.input-group-btn {
    width: 0;
}

#plot_select {
    display: none;
}

.bootstrap-select {
    width: 100% !important;
}

#preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
}

.list-group {
    margin: 0;
}

#first_row {
    height: 50px;
}

#second_row {
    height: 300px;
}

#third_row {
    height: 300px;
}

#four_row {
    height: 300px;
}

#five_row {
    height: 300px;
}

.viz_container {
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.panel {
    height: 100%;
    margin-bottom: 0;
}

#plot_abstract_container {
    height: 100%;
}

.valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#plot_parameters {}

#plot_parameters span {
    padding-right: 20px;
}

#plot_location {
    height: 100%;
}

#map_widget {
    height: 90%;
}

#families_donut {
    height: 90%;
}

#species_donut {
    height: 90%;
    width: 100%;
}

#diameters_histogram {
    height: 90%;
    width: 100%;
}

#basal_area_gauge {
    height: 90%;
    width: 100%;
}

#strate_barh {
    height: 90%;
    width: 100%;
}

#strate_barh .rect {
    -webkit-filter: drop-shadow(0px 1.5px 1.5px #aaa);
    filter: drop-shadow(0px 1.5px 1.5px #aaa);
}

#stems_barv {
    height: 90%;
    width: 100%;
}

#stems_barv .tick line {
    opacity: .7;
    stroke-dasharray: 3;
    stroke: "#afafaf"
}

#type_plant_donut {
    height: 90%;
    width: 100%;
}

#alt_rain_mat {
    height: 90%;
    width: 100%;
}

#h_mean_gauge {
    height: 90%;
    width: 100%;
}

.legend .label {
    font-family: Dejavu Sans;
}

.land {
    fill: #f5f5f5;
    stroke: #afafaf;
}

path.slice {
    stroke-width: 1px;
    stroke: white;
}

path.slice {
    stroke-width: 1px;
    stroke: white;
}

.tooltip {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 15px 15px 0 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.panel-heading {
    padding: 5px 15px;
}

* {
    box-sizing: border-box;
}

.gauge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gauge-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
}

.gauge g.arc {
    fill: steelblue;
}

.gauge g.pointer {
    fill: #4b4948;
    stroke: #070706;
}

.gauge g.pointer .arc_pointer {
    fill: #777472;
    stroke: #a8a4a2;
}

.gauge g.label text {
    text-anchor: middle;
    font-size: 1.2em;
    font-weight: bold;
    fill: #666;
}

.gauge .tickline {
    stroke: #fff;
}

.number-div {
    position: absolute;
    bottom: 3px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.number-unit {
    display: block;
    font-size: 12px;
}

.number-value {
    font-size: 15px;
}