#body-container {
}

h4 {
    margin-top: 0px;
    font-size: 20px;
}

.input-group-addon, .input-group-btn {
    width: 0;
}

#plot_select {
    display: none;
}

.bootstrap-select {
    width: 100% !important;
}

#preloader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 10;
}

.list-group {
    margin: 0;
}

#first_row { height: 50px; }
#second_row { height: 300px; }
#third_row { height: 300px; }

.viz_container {
    height: 100%;
    padding: 5px 5px 5px 5px;
}

.panel {
    height: 100%;
    margin-bottom: 0;
}

#plot_abstract_container {
    height: 100%;
}

.valign {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#plot_parameters {

}

#plot_parameters span {
    padding-right: 20px;
}

#plot_location {
    height: 100%;
}

#map_widget {
    height: 90%;
}

#families_donut {
    height: 90%;
}

#species_donut {
    height: 90%;
    width: 100%;
}

#diameters_histogram {
    height: 90%;
    width: 100%;
}

.land {
  fill: #f5f5f5;
  stroke: #afafaf;
}

path.slice{
    stroke-width: 1px;
    stroke: white;
}


path.slice{
    stroke-width: 1px;
    stroke: white;
}

.tooltip {
    position: absolute;
    top: 0;
    text-align: center;
    padding: 15px 15px 0 15px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.panel-heading {
    padding: 5px 15px;
}

.modal, .modal-backdrop {
    position: absolute !important;
}

#modal {
    top: 20%;
}

.modal-backdrop {
    opacity: 0 !important;
    height: 0;
}

.bootstrap-select {
    z-index: 2000;
}
