{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Forêts humides de la Province Nord de Nouvelle-Calédonie{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                {% endblocktrans %}
            </p>
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
    <section>
        <div class="container">
        </div>
    </section>
{% endblock %}
