{% load staticfiles %}

{# JQuery#}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<script src="{% static 'js/lib/jquery.min.js' %}"></script>
{# Bootstrap#}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
{# Metis Menu Plugin JavaScript#}
<script src="/static/js/libs/metisMenu.min.js"></script>
{# Custom Theme JavaScript#}
<script src="/static/js/site.js"></script>
