<!-- Search -->
<li class="sidebar-search">
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
    </div>
</li>

<!-- Home -->
<li>
    <a href="{% url "home" %}"><i class="fa fa-home fa-fw"></i> Accueil</a>
</li>

<!-- Data input -->
<li>
    <a href="/#"><i class="fa fa-pencil fa-fw"></i> Inventaires<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{%  url 'rapid_inventory_index' %}">Inventaires rapides des forêts</a>
        </li>
        <li>
            <a href="{%  url 'taxa_inventory_index' %}">Inventaires taxonomiques</a>
        </li>
    </ul>
</li>

<!-- Data consult -->
<li>
    <a href="/#"><i class="fa fa-database fa-fw"></i> Données<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{%  url 'digitizing_massifs' %}">Digitalisation au 1:3000ème</a>
        </li>
    </ul>
</li>

<!-- Dashboards -->
<li>
    <a href="/#"><i class="fa fa-tachometer fa-fw"></i> Tableaux de bord<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="{% url 'taxon_dashboards:taxon_treeview' %}">Taxons</a>
        </li>
    </ul>
</li>

<!-- Account -->
<li>
    <a href="/#"><i class="fa fa-user fa-fw"></i> Mon compte<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="/account/settings/"><i class="fa fa-cog fa-fw"></i> Paramètres</a>
        </li>
    </ul>
</li>
