{% extends "niamoto_dashboard_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block body_class %}home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href='{% static "css/olext.css" %}' />
    {{ block.super }}
    <link rel="stylesheet" href='{% static "css/home.css" %}' />
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_header %}Accueil{% endblock %}

{% block help_icon %}
{% endblock %}

{% block body %}

    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Niamoto en bref</div>
            <div class="panel-body" id="niamoto_status_container">
                <div class="col-xs-3 col-md-3 detail_status_container">
                    <div id="occurrence_count_container" class="progress_container"></div>
                </div>
                <div class="col-xs-3 col-md-3 detail_status_container">
                    <div id="plot_count_container" class="progress_container"></div>
                </div>
                <div class="col-xs-3 col-md-3 detail_status_container">
                    <div id="taxa_count_container" class="progress_container"></div>
                </div>
                <div class="col-xs-3 col-md-3 detail_status_container">
                    <div id="provider_count_container" class="progress_container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-12 col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">Derniers inventaires saisis</div>
                        <div id="inventories_table"><table class="table">
                            <thead>
                                <tr>
                                    <th>Observateur</th>
                                    <th>Type d'inventaire</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for inventory in last_inventories %}
                                <tr>
                                    <div class="row">
                                        <td>
                                            {{ inventory.observer.username }}
                                        </td>
                                        <td>
                                            {{ inventory.type_key }}
                                        </td>
                                        <td>
                                            {{ inventory.inventory_date }}
                                        </td>
                                        <td>
                                            <a class="right-link" href="{% url 'rapid_inventory_consult' rapid_inventory.id %}">consulter</a>
                                        </td>
                                    </div>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tr><td colspan="4"><a href="{% url 'rapid_inventory_index' %}">Consulter tous les inventaires rapides ({{ rapid_inventories_count }})</a></td></tr>
                            <tr><td colspan="4"><a href="{% url 'rapid_inventory_index' %}">Consulter tous les inventaires taxonomiques ({{ taxa_inventories_count }})</a></td></tr>
                            <tr><td colspan="4"></td></tr>
                        </table></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5" id="map_container">
                    <img id="preloader" src="{% static 'img/preloader.svg' %}"/>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var taxa_inventories_url = "{{ taxa_inventories_url }}";
        var rapid_inventories_url = "{{ rapid_inventories_url }}";
        var niamoto_status = {{status|safe}};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.2.0/ol.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js"></script>
    <script src='{% static "js/homepage.min.js" %}'></script>
{% endblock %}
