{% extends "site_base.html" %}

{% block navitems %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pencil fa-fw"></i> Inventaires<span class="caret"></span></a>
        <ul class="dropdown-menu top-dropdown-menu">
            <li><a href="{%  url 'rapid_inventory_index' %}">Inventaires rapides des forêts</a></li>
            <li><a href="{%  url 'taxa_inventory_index' %}">Inventaires taxonomiques</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database fa-fw"></i> Données<span class="caret"></span></a>
        <ul class="dropdown-menu top-dropdown-menu">
            <li><a href="{% url 'taxon_dashboard:taxon_treeview' %}">Taxons</a></li>
            <li><a href="{% url 'plot_dashboard:plot_dashboard' %}">Parcelles</a></li>
            <li><a href="{%  url 'digitizing_massifs' %}">Habitats forestiers</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tachometer fa-fw"></i> Analyses<span class="caret"></span></a>
        <ul class="dropdown-menu top-dropdown-menu">
            <li><a href="{%  url 'data_marts:data_mart' %}">Analyse géographique</a></li>
        </ul>
    </li>
{% endblock %}

{% block extra_body %}
    {% block help_modal %}
    <div class="modal fade" id="help_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% block help_modal_title %}Aide{% endblock %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block help_modal_body %}{% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block page_content %}
    <div id="page-wrapper" class="page-wrapper-sidebar">
        {% block body_base %}
            <section id="content_body" class="fill_parent_height">
                <div class="row fill_parent_height">
                    <div class="col-lg-12">
                        {% include "_messages.html" %}
                    </div>
                    <div id="body-container" class="col-lg-12 fill_parent_height">
                        {% block page_header_container %}
                        <h3 class="page-header" id="page_header">{% block page_header %}{% endblock %}</h3>
                        {% block help_icon %}
                        <a data-toggle="modal" data-target="#help_modal"><i class="fa fa-question-circle" id="help_icon" aria-hidden="true"></i></a>
                        {% endblock %}
                        {% endblock %}
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>
{% endblock %}

