{% extends "bootstrap_base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}

{% block styles %}
    {% include "_styles.html" %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}
        <script src="/static/js/libs/require.js"></script>
        <script>
            require.config({
                paths: {
                    {# JQuery and friends #}
                    "jquery": [
                        'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min',
                        '/static/js/libs/jquery.2.2.4.min'
                    ],
                    "jquery.treeview": [
                        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min',
                        '/static/js/libs/bootstrap-treeview.min'
                    ],
                    "jquery.tablesorter":  [
                        'https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.5/js/jquery.tablesorter.min',
                        '/static/js/libs/jquery.tablesorter.2.24.5.min'
                    ],
                    "jquery.datetimepicker": [
                        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min',
                        '/static/js/libs/bootstrap-datetimepicker.min.4.17.37'
                    ],
                    "jquery.magicsuggest": [
                        'https://cdnjs.cloudflare.com/ajax/libs/magicsuggest/2.1.4/magicsuggest-min',
                        '/static/js/libs/magicsuggest-min.2.1.4'
                    ],
                    "jquery.select": [
                            "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min",
                            "/static/js/libs/bootstrap-select.min"
                    ],
                    {# OL3 and friends #}
                    "ol": [
                        'https://cdnjs.cloudflare.com/ajax/libs/ol3/3.10.1/ol.min',
                        '/static/js/libs/ol.3.10.1.min'
                    ],
                    "olext": '/static/js/libs/olext.min',
                    "proj4": [
                        'https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.12/proj4',
                        '/static/js/libs/proj4.2.3.12'
                    ],
                    {# D3 and friends #}
                    "d3": [
                        'https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.0/d3.min',
                        '/static/js/libs/d3.v4.min'
                    ],
                    "d3-array": [
                        '/static/js/libs/d3-array.v1.min'
                    ],
                    "d3-geo": [
                        '/static/js/libs/d3-geo.v1.min'
                    ],
                    "d3-geo-projection": [
                        '/static/js/libs/d3-geo-projection.v1.min'
                    ],
                    "topojson": [
                        '/static/js/libs/topojson.v1.min'
                    ],
                    {# Other third party #}
                    "moment": [
                        'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min',
                        '/static/js/moment.min.2.10.6'
                    ],
                    {# Project #}
                    "maps": '/static/js/maps',
                    "rest_urls": '/static/js/rest_urls',
                    "static_urls": '/static/js/static_urls',
                    "taxonomy": '/static/js/taxonomy'
                },
                shim: {
                    "jquery.treeview": ["jquery"],
                    "jquery.tablesorter": ["jquery"],
                    "jquery.datetimepicker": ["jquery", "moment"],
                    "jquery.magicsuggest": ["jquery"],
                    "jquery.select": ["jquery"]
                }
            });
        </script>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block sidebar-menu %}
    {% include "_sidebar-menu.html" %}
{% endblock %}

{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
