{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}home{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="/static/css/splash_page.css" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">{% endblock %}

{% block page_content %}
    <div id="page-wrapper" class="splash-container">
        <div id="splash" class="container">
            <div id="splash-content">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h1>Niamoto, le portail des habitats forestiers</h1>
                        <br>
                        <p>
                            Niamoto est un système d'information environnemental centré sur
                            les forêts de Nouvelle-Calédonie. Pour les gestionnaires,
                            les scientifiques, les passionnés et les curieux, il centralise services
                            et données autour de ces écosystèmes riches et fascinants.
                        </p>
                        <br>
                        <a href="{% url 'account_signup' %}" class="account-btn btn btn-primary">Je m'inscris</a>
                        <span></span>
                        <a href="{% url 'account_login' %}" class="account-btn btn btn-default">J'ai déjà un compte</a>
                        <br>
                        <a href="#" class="about-btn btn btn-success">Je veux en savoir plus sur Niamoto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block prefooter %}
    <div id="logos">
        <div id="logos_content">
            <img src="/static/img/logos/logo_pn.jpg" alt="logo_pn" style="height:120px;">
            <img src="/static/img/logos/logo_iac.jpg" alt="logo_iac" style="height:90px;">
            <img src="/static/img/logos/logo_amap.jpg" alt="logo_amap" style="height:100px;">
            <img src="/static/img/logos/logo_ird.png" alt="logo_ird" style="height:100px;">
            <img src="/static/img/logos/logo_cirad.jpg" alt="logo_cirad" style="height:100px;">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}
