{% extends '_base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css"
  type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'shape/css/dashboard.min.css' %}" />

{% endblock styles %}

{% block page_header %}
<div class="container display-4">
  Tableaux de bord des forêts
</div>
{% endblock page_header %}

{% block body %}

<img id="preloader" src="{% static 'img/preloader.svg' %}">
<div class="d-line-flex p-2">

  <div class="col-sm-3">
    <button type="button" class="btn btn-lg"><a href="{% url 'shape:presentation' %}">
        <span class="fa fa-search" aria-hidden="true"></span> En savoir plus
  </div>
  </a></bouton>
  <div class="col-sm-3 px-2">
    <select class="col-sm-12" id="shape_select"></select>
  </div>

</div>



<div class="card-deck p-4">
  {% if graph_list %}

  {% for graph in graph_list %}
  {% if graph.model == 'specifications'%}
  <div id="{{graph.name}}" class="s-{{graph.height}} p-3">
    <div class="card">
      <div class="card-header">{{graph.title|capfirst}}</div>

      <div id="general_informations" class="card-body {{graph.model}}">
        <h5 class="card-title"></h5>
        <div class="card-text"><strong><span id='commune'></span></strong></div>
        <div class="card-text"><span id='landArea'></span></div>
        <div class="card-text"><span id='forestArea'></span></div>
        <div class="card-text"><span id='nb_families'></span></div>
        <div class="card-text"><span id='nb_species'></span></div>
        <div class="card-text"><span id='nb_occurence'></span></div>

      </div>
    </div>
  </div>
  {% else %}
  <div id="{{graph.name}}" class="s-{{graph.height}} p-3">
    <div class="card card-{{graph.model}}">
      <div class="card-header">{{graph.title|capfirst}}</div>
      <div class="card-body {{graph.model}} d-flex flex-wrap">
        {% if graph.legend_locate == 'nolegend'%}
        <div id="{{graph.model}}" class="d3_panel graph">
        </div>
        {% else %}
        <!-- invert order graph and legend -->
        {% if graph.legend_locate == 'left' or  graph.legend_locate == 'top'%}
        <div id="{{graph.model}}Legend" class="d3_panel legend-{{graph.legend_locate}}">

        </div>
        <div id="{{graph.model}}" class="d3_panel graph graph-legend-{{graph.legend_locate}}">
        </div>
        {% else %}
        <div id="{{graph.model}}" class="d3_panel graph graph-legend-{{graph.legend_locate}}">
        </div>
        <div id="{{graph.model}}Legend" class="d3_panel legend-{{graph.legend_locate}}">

        </div>
        {% endif %}
        {% endif %}
      </div>


    </div>
  </div>
  {% endif %}

  {% endfor %}
  {% else %}
  <p>Aucun graphe.</p>
  {% endif %}
</div>


{% endblock body %}

{% block scripts %}
{{ block.super }}


<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>

<script src="{% static 'shape/js/main.min.js' %}"></script>
{% endblock scripts %}