{% extends 'base.html' %}
{% load staticfiles %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'shape/css/dashboard.min.css' %}" />
{% endblock %}
{% block page_header %}
<div class="container p-2 display-4">
	Presentation des forêts
</div>
{% endblock page_header%}
{% block body %}
<section id="Preambule">
	<div class="col-lg-2">
		<button type="button" class="btn btn-light btn-lg"><a href="{% url 'shape:dashboard' %}">
				Accéder aux données <span class="badge badge-secondary"><span class="fa fa-database"
						aria-hidden="true"></span></span>
			</a>
			</bouton>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h2>Pr&eacute;ambule</h2>
				<p style="text-align: justify;">Selon la FAO, les for&ecirc;ts sont des espaces recouverts &agrave; plus
					de 10 % par des arbres et d&rsquo;une surface d&rsquo;au moins un demi hectare. Le concept de
					for&ecirc;t repose en r&eacute;alit&eacute; sur une notion plus complexe, propre &agrave; la
					perception de chacun et fortement d&eacute;pendante du biome dans lequel elle se situe. Une
					for&ecirc;t bor&eacute;ale en Alaska, une for&ecirc;t m&eacute;diterran&eacute;enne en Turquie, une
					for&ecirc;t tropicale humide au Br&eacute;sil, une savane arbor&eacute;e en Zambie sont autant
					d&rsquo;illustrations de l&rsquo;infinie diversit&eacute; des for&ecirc;ts.</p>
				<p style="text-align: justify;">La for&ecirc;t est de plus un ensemble dynamique compos&eacute;
					d&rsquo;individus qui grandissent, meurent et se succ&egrave;dent &agrave; un rythme qui reste peu
					perceptible &agrave; l&rsquo;&eacute;chelle humaine. La for&ecirc;t est aussi capable de
					reconqu&eacute;rir les espaces perdus de r&eacute;cr&eacute;er de jeunes for&ecirc;ts dans les
					milieux d&eacute;grad&eacute;s lorsque la distance &agrave; une for&ecirc;t mature le permet.</p>
				<p style="text-align: justify;">La for&ecirc;t est souvent class&eacute;e en types forestiers. &Agrave;
					l&rsquo;&eacute;chelle du globe terrestre, les grands biomes forestiers ont une r&eacute;partition
					zonale c'est-&agrave;-dire qu&rsquo;ils ne d&eacute;passent pas certaines valeurs latitudinales.
					&Agrave; une &eacute;chelle plus fine, la classification peine &agrave; prendre en compte la
					multitude de facteurs influen&ccedil;ant l&rsquo;&eacute;tat observable d&rsquo;une for&ecirc;t au
					temps T (conditions &eacute;daphiques, climatiques, &eacute;cologiques, perturbations naturelles et
					anthropiques, fragmentation&hellip;). Les typologies foresti&egrave;res bas&eacute;es sur la
					composition sp&eacute;cifique et/ou la structure sont donc avant tout th&eacute;oriques. Dans la
					r&eacute;alit&eacute;, la fronti&egrave;re entre une for&ecirc;t s&egrave;che et une for&ecirc;t
					humide serait difficile &agrave; tracer au sol. La for&ecirc;t se transforme et s&rsquo;adapte avec
					une incroyable plasticit&eacute; &agrave; l&rsquo;environnement dans lequel elle se d&eacute;ploie.
				</p>
				<p style="text-align: justify;">Nous avons choisi de consid&eacute;rer la for&ecirc;t de
					Nouvelle-Cal&eacute;donie comme une entit&eacute; unique que l&rsquo;on observe et que l&rsquo;on
					&eacute;tudie dans sa dynamique spatiotemporelle. Les classements que l&rsquo;on trouvera ici sont
					bas&eacute;s sur des donn&eacute;es climatiques (lien vers milieux de vie holdridge) et
					g&eacute;ographiques (lien vers types de for&ecirc;t).</p>
				<p style="text-align: justify;">Les travaux men&eacute;s sur la for&ecirc;t de la province Nord depuis
					2010 ont fait l&rsquo;objet de nombreuses publications scientifiques consultables ici (lien) et ont
					permis de produire la cartographie au 1/3 000&egrave;me consultable sur ce site.</p>
			</div>
		</div>
	</div>
</section>

<section id="foret">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h2>La for&ecirc;t de NC</h2>
				<p style="text-align: justify;">La couverture foresti&egrave;re de la province Nord &nbsp;est de 34%
					avec une couverture plus importante sur NUM (37%) que sur UM (23%). Le milieu de vie est
					essentiellement de type humide et c&rsquo;est l&agrave; que l&rsquo;on trouve les plus grandes
					surfaces de for&ecirc;t. La couverture foresti&egrave;re est plus importante sur le milieu
					tr&egrave;s humide mais sa surface est beaucoup plus restreinte. Les for&ecirc;ts s&egrave;ches ne
					couvrent plus qu&rsquo;une tr&egrave;s faible proportion de la surface des milieux secs.</p>
				<p style="text-align: justify;">La distribution altitudinale des for&ecirc;ts ne suit pas la
					disponibilit&eacute; altitudinale de surface terrestre. La tranche altitudinale 0-200 m, qui
					repr&eacute;sente XXXX% de la surface totale disponible, ne compte que XXXX % de for&ecirc;t. A
					l&rsquo;inverse les tranches altitudinales sup&eacute;rieurs &agrave; 1&nbsp;000 m ont toujours une
					couverture foresti&egrave;re &eacute;lev&eacute;e, quel que soit le substrat.</p>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">La for&ecirc;t est r&eacute;partie en for&ecirc;t mature (46 %) et
					for&ecirc;t secondaire (42 %) avec 12 % de for&ecirc;t de c&oelig;ur. La for&ecirc;t secondaire est
					plut&ocirc;t caract&eacute;ristiques des basses altitudes, la for&ecirc;t de c&oelig;ur domine sur
					la tranche 900-1100 m.</p>
				<p style="text-align: justify;">Si la for&ecirc;t de NC poss&egrave;de les caract&eacute;ristiques
					attendues d&rsquo;un syst&egrave;me insulaire tropical comme les autres (biomasse&hellip;), elle
					&nbsp;poss&egrave;de en revanche certaines singularit&eacute;s :</p>
				<ol style="text-align: justify;">
					<li><span></span>Une diversit&eacute; et un end&eacute;misme tr&egrave;s &eacute;lev&eacute;</li>
					<li><span></span>Une densit&eacute; en arbres sup&eacute;rieure aux autres for&ecirc;ts tropicales
						(autour de 1 000 tiges/ha)</li>
					<li><span></span>Une richesse floristique en arbres relativement pauvre &agrave;
						l&rsquo;&eacute;chelle locale (diversit&eacute; &alpha;) mais &eacute;lev&eacute;e &agrave;
						l&rsquo;&eacute;chelle de l&rsquo;ensemble du territoire (diversit&eacute; &beta;)</li>
				</ol>
				<p style="text-align: justify;">&nbsp;</p>
				<p style="text-align: justify;">La for&ecirc;t de NC repose sur un fond floristique d&rsquo;arbres
					compos&eacute; de peu d&rsquo;esp&egrave;ces communes et d&rsquo;une multitude
					d&rsquo;esp&egrave;ces rares. La composition floristique&nbsp; &eacute;volue de proche en proche
					sans qu&rsquo;il n&rsquo;y ait plus de 50% de ressemblance entre deux parcelles de 1 ha.</p>
			</div>
		</div>
	</div>
</section>

<section id="cartographie">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h2 style="text-align: justify;">Cartographie foresti&egrave;re (M&eacute;thodologie)</h2>
				<p style="text-align: justify;">La carte des for&ecirc;ts repose sur des m&eacute;thodes
					automatis&eacute;es et manuelles entrecoup&eacute;es de plusieurs phases de validation. Pour aboutir
					&agrave; une carte des formations arbor&eacute;es &agrave; tr&egrave;s haute r&eacute;solution
					(1:3000), notre travail s&rsquo;est appuy&eacute; sur les donn&eacute;es cartographiques
					ant&eacute;rieures, en int&eacute;grant la cartographie des unit&eacute;s de
					v&eacute;g&eacute;tation effectu&eacute;e par le CTFT (Cherrier, 1991), la carte d&rsquo;occupation
					du sol r&eacute;alis&eacute;e par seuillage automatis&eacute; d&rsquo;images satellitaires Spot
					(DTSI, 2009), la cartographie de la v&eacute;g&eacute;tation des milieux ultramafiques de la
					Province Nord (Barri&egrave;re et al., 2007, 2008) ou encore la photointerpr&eacute;tation
					r&eacute;alis&eacute;e au 1:30000&egrave;me &agrave; partir des orthophotos (DITTT - Province Nord)
					et des emprises des images SPOT5 (DTSI) pour les zones non couvertes par les premi&egrave;res
					(Dartis 2010). La compilation de ces sources de donn&eacute;es a permis de construire un support
					cartographique &agrave; partir duquel nous avons entrepris la digitalisation par
					photo-interpr&eacute;tation de chaque polygone &agrave; l&rsquo;&eacute;chelle de 1:3000, le
					contr&ocirc;le de la topologie, l&rsquo;uniformisation des fusions et de la fragmentation ou encore
					la validation de notre production. La digitalisation s&rsquo;appuie sur l&rsquo;expertise
					&eacute;cologique en faisant intervenir des concepts li&eacute;s &agrave; la probabilit&eacute;
					d&rsquo;une jeune for&ecirc;t de s&rsquo;inscrire dans un processus de la succession
					foresti&egrave;re. En r&eacute;sum&eacute;, nous consid&eacute;rons toutes les formations
					arbor&eacute;es comme des for&ecirc;ts quelle que soit leur composition floristique, &agrave;
					l&rsquo;exception des formations artificielles (plantations, savanes &amp; invasions biologiques).
					Vues depuis le ciel, les for&ecirc;ts prennent la forme d&rsquo;ensembles de
					v&eacute;g&eacute;tation form&eacute;s d&rsquo;un couvert arbor&eacute; plus ou moins continu et
					compos&eacute;s d&rsquo;un assemblage de couronnes d&rsquo;arbres contigu&euml;s. Ces for&ecirc;ts
					pr&eacute;sentent un grain de canop&eacute;e irr&eacute;gulier qui refl&egrave;te &agrave; la fois
					l&rsquo;h&eacute;t&eacute;rog&eacute;n&eacute;it&eacute; du m&eacute;lange d&rsquo;arbres
					(constitu&eacute; d&rsquo;esp&egrave;ces diff&eacute;rentes ayant de petites, moyennes ou grandes
					couronnes avec une gamme &eacute;tendue de tons de vert), et celle des trou&eacute;es caus&eacute;es
					par la mort (volis) ou la chute (chablis) des arbres les plus &acirc;g&eacute;s. Ce grain
					h&eacute;t&eacute;rog&egrave;ne s&rsquo;oppose nettement au grain plus lisse et homog&egrave;ne des
					formations arbustives telles que les maquis et les savanes. Si ce grain de for&ecirc;t est
					relativement simple &agrave; d&eacute;limiter, l&rsquo;expertise devient d&eacute;licate d&egrave;s
					lors qu&rsquo;il convient de classer une formation arbor&eacute;e compos&eacute;e d&rsquo;un
					m&eacute;lange entre un faci&egrave;s naturel d&eacute;grad&eacute; et une formation artificielle
					entretenue par l&rsquo;homme telle que les savanes &agrave; niaoulis. Dans ces cas,
					l&rsquo;expertise s&rsquo;appuie sur d&rsquo;autres crit&egrave;res tels que la distance &agrave; la
					for&ecirc;t ou aux habitations. D&egrave;s que ces formations s&rsquo;inscrivent dans une
					continuit&eacute; de for&ecirc;ts non-ambig&uuml;e, par exemple dans les talwegs, elles sont
					incluses dans la digitalisation en les consid&eacute;rant comme des jeunes for&ecirc;ts. Au
					contraire, celles qui sont isol&eacute;es dans le paysage, &agrave; proximit&eacute; des habitations
					ou &eacute;loign&eacute;es des for&ecirc;ts naturelles sont exclues de la digitalisation.</p>
				<p style="text-align: justify;">La distance minimale entre tous les polygones pris deux par deux a
					&eacute;t&eacute; fix&eacute;e &agrave; 10 m, ce qui signifie que les polygones forestiers
					s&eacute;par&eacute;s par un &eacute;l&eacute;ment du paysage, qu&rsquo;il soit naturel ou
					artificiel, d&rsquo;une distance inf&eacute;rieure &agrave; 10 m ont &eacute;t&eacute;
					fusionn&eacute;s. Le calcul de la fragmentation repose ainsi sur cette distance minimale de 10 m.
					&Agrave; l&rsquo;issue de la digitalisation, tous les polygones ayant une superficie
					inf&eacute;rieure &agrave; 1 ha ont &eacute;t&eacute; v&eacute;rifi&eacute;s un par un afin de
					s&rsquo;assurer que leur existence n&rsquo;&eacute;tait pas le r&eacute;sultat d&rsquo;une fusion ou
					d&rsquo;un artefact de la digitalisation. Enfin la validation s&eacute;mantique a fait appel
					&agrave; plusieurs jeux de donn&eacute;es ind&eacute;pendants dans lesquels nous disposons
					d&rsquo;une information textuelle identifiant l&rsquo;habitat.</p>
				<ul>
					<li style="text-align: justify;"><span></span>Tout d&rsquo;abord 362 polygones, identifi&eacute;s
						comme incertains sur la digitalisation ou dont le support photographique ne permettait pas
						d&rsquo;effectuer une distinction pr&eacute;cise, ont &eacute;t&eacute; survol&eacute;s par
						h&eacute;licopt&egrave;re et valid&eacute;s par deux op&eacute;rateurs ind&eacute;pendants.</li>
					<li style="text-align: justify;"><span></span>Pr&egrave;s de 10000 sp&eacute;cimens d&rsquo;herbiers
						(i.e. 9870 points) contenant dans la description de l&rsquo;&eacute;chantillon le terme
						non-ambigu de &lsquo;for&ecirc;t humide&rsquo; ont &eacute;t&eacute; projet&eacute;s sur la
						digitalisation. Parmi les 3026 points qui n&rsquo;interceptent pas les polygones de for&ecirc;t,
						nous avons syst&eacute;matiquement v&eacute;rifi&eacute; les points collect&eacute;s
						apr&egrave;s la date de 2009, date post&eacute;rieure &agrave; l&rsquo;acquisition des
						orthophotos et &agrave; partir de laquelle tous les &eacute;chantillons sont
						g&eacute;o-r&eacute;f&eacute;renc&eacute;s par des coordonn&eacute;es GPS. Cette
						v&eacute;rification a conduit &agrave; modifier le contour de 170 polygones.</li>
					<li style="text-align: justify;"><span></span>La distribution de 1 425 points d&rsquo;inventaires
						r&eacute;alis&eacute;s depuis 2009, soit en maquis soit en for&ecirc;t humide, ont servi
						respectivement de r&eacute;v&eacute;lateur n&eacute;gatif et positif. Trois points li&eacute;s
						&agrave; la for&ecirc;t et cinq points li&eacute;s aux maquis ont permis de redessiner le
						contour des polygones de for&ecirc;t. Enfin parmi un jeu de donn&eacute;es transmis par la
						province Nord recensant 17 313 points d&rsquo;observations et une d&eacute;finition des habitats
						(maquis, for&ecirc;t s&egrave;che, for&ecirc;t littoral &amp; for&ecirc;t humide), 165 points
						polygones ont &eacute;t&eacute; redessin&eacute;s.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="il">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h2>Il l&rsquo;a dit</h2>
				<p style="text-align: justify;">D&eacute;claration du conseiller Berg&egrave;s lors de la s&eacute;ance
					du conseil g&eacute;n&eacute;ral du 12 mai 1928&nbsp;:<em><i>&nbsp;&laquo; Nos for&ecirc;ts, vous le
							savez mieux que moi, constituent une richesse collective au double point de vue de leur
							valeur intrins&egrave;que et de leur r&ocirc;le pr&eacute;pond&eacute;rant dans le
							r&eacute;gime pluvial de la colonie. (&hellip;) Je vous ai donn&eacute; tous les
							renseignements pour bien mettre en &eacute;vidence l&rsquo;importance vitale pour
							l&rsquo;avenir du pays de veiller &agrave; la conservation des for&ecirc;ts
							cal&eacute;doniennes. En prot&eacute;geant ses for&ecirc;ts, nous conserverons &agrave; la
							colonie une richesse naturelle qui se renouvellera sans cesse et prot&eacute;gera du
							m&ecirc;me coup notre &eacute;levage et notre agriculture qui sont les deux facteurs
							importants de notre prosp&eacute;rit&eacute; &eacute;conomique. Une richesse naturelle,
							quelle qu&rsquo;elle soit, ne doit jamais &ecirc;tre gaspill&eacute;e, encore moins
							d&eacute;truite. Elle doit &ecirc;tre exploit&eacute;e rationnellement. Nous ne devons
							point, certes, effrayer ni d&eacute;courager les capitalistes, m&ecirc;me &eacute;trangers
							qui veulent bien s&rsquo;int&eacute;resser &agrave; nos exploitations foresti&egrave;res.
							Mais nous avons le devoir de prendre des mesures de sauvegarde en faveur des for&ecirc;ts
							cal&eacute;doniennes &agrave; l&rsquo;instar de l&rsquo;Australie, ou de la
							Nouvelle-Z&eacute;lande, de la France et de tous les pays du monde. Actuellement, nos
							exploitations foresti&egrave;res ne sont pour ainsi dire soumises &agrave; aucune
							surveillance, &agrave; aucun contr&ocirc;le. On ins&egrave;re bien certaines clauses dans
							leur cahier des charges mais personne ne para&icirc;t se soucier de leur ex&eacute;cution.
							Comme conclusion, je me permets d&rsquo;attirer l&rsquo;attention du Conseil
							G&eacute;n&eacute;ral sur le pr&eacute;judice irr&eacute;parable consid&eacute;rable qui est
							ainsi port&eacute; &agrave; la Nouvelle-Cal&eacute;donie et j&rsquo;attire tout
							particuli&egrave;rement l&rsquo;attention de notre assembl&eacute;e sur la
							n&eacute;cessit&eacute; urgente de l&rsquo;adoption d&rsquo;une r&eacute;glementation
							ad&eacute;quate qui devra &ecirc;tre rigoureusement appliqu&eacute;e. (&hellip;) De plus, il
							ne suffit pas d&rsquo;ins&eacute;rer dans les cahiers des charges des clauses et conditions
							qui ne sont jamais ex&eacute;cut&eacute;es. On prend des permis de coupes de 25 m&sup3; et
							on abat la quantit&eacute; que l&rsquo;on veut. C&rsquo;est le r&eacute;gime du bon plaisir.
							Il faut r&eacute;tablir une r&eacute;glementation foresti&egrave;re, organiser un service de
							surveillance, de contr&ocirc;le, afin de rem&eacute;dier &agrave; l&rsquo;&eacute;tat des
							choses actuelles et pr&eacute;server ainsi la for&ecirc;t cal&eacute;donienne &raquo;
							(</i></em>source : Congr&egrave;s de la Nouvelle-Cal&eacute;donie, Proc&egrave;s-verbaux de
					s&eacute;ances. Huiti&egrave;me s&eacute;ance du vendredi 12 mai 1928. P. 220 et s.)</p>
			</div>
		</div>
	</div>
</section>

{% endblock body %}