#map {
    height: 300px;
    padding: 0;
    border: 1px #CCCCCC solid;
    overflow: hidden;
    margin-bottom: 30px;
}

#map_container {
    padding-left: 0px;
}

.home-row {
    margin: 40px 60px 0 10px;
}

.see-all {
    font-size: 12px;
    text-align: center;
}

.list-group-item {
    padding: 10px 5px;
}

hr {
    margin: 5px;
}

.rapid-access-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
}

li .row {
    margin: 0;
}

.right-link {
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.observer-name {
    font-size: 12px;
}

.rapid-inventory-circle {
    color: #e2bc15;
    margin-right: 10px;
}

.taxa-inventory-circle {
    color: #d67f57;
    margin-right: 10px;
}

#preloader {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 10;
}

#inventories_table {
    height: 255px;
    overflow: auto;
}
.panel-body {
    padding: 15px 0 15px 0;
}

.progress_container {
    width: 100%;
    position: relative;
    text-align: center;
}

#niamoto_status_container {
    padding: 0 60px;
}

.detail_status_container {
    padding: 20px 15px 30px 15px;
}
