body {
    font-family: Roboto;
    background-color: #f3f1f1;
}

#preloader {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 10;
}

.page-header {
    margin-top: 20px;
    border-bottom: 1px solid #a1c1aa;
}

.navbar-header {
    margin-left: 50px;
}

.nav li a {
  color: #e6fbe6;
}

.top-dropdown-menu {
    background-color: #5a8768;
}

.navbar-default .navbar-link, .nav li a {
  color: #e6fbe6;
}
.navbar-default .navbar-link:hover, .navbar-link:focus, .nav li a:hover, nav li a:focus {
  background-color: #5f9554;
}

.panel-default .panel-heading {
  background-color: #6a9377;
  color: #e6fbe6;
}

.navbar-default {
  background-color: #5a8768;
  border: none;
}
.navbar-default .navbar-text {
  color: #e6fbe6;
}
.navbar-default .navbar-nav > li > a {
  color: #e6fbe6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #4d7c42;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #4d7c42;
}
.navbar-default .navbar-toggle {
  border-color: #4d7c42;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4d7c42;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e6fbe6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e6fbe6;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e6fbe6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4d7c42;
  }
}

#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 7% 0 7%;
  min-height: 568px;
  background-color: #f3f1f1;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

@media (min-width: 768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}

footer {
    padding-bottom: 10px;
    display: block;
    box-sizing: border-box;
    background-color: #f3f1f1;
}
#footer-hr {
    padding: 5px 0;
    margin: 0 20%;
    background-color: #f3f1f1;
    border-color: rgb(200, 200, 200);
}
.footer-container {
    text-align: center;
}

.navbar-header li a {
    font-size: 16px;
}

.navbar-default .navbar-brand {
    margin: 0 0 0 0px;
    color: rgb(229, 237, 179);
    font-size: 24px;
    text-align: left;
}

.float_none {
    float: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #DFE19D;
}

.ol-attribution ul{
    font-size: 10px;
}

.ol-attribution ul li:first-child {
    display: none;
}

.ol-attribution.ol-uncollapsible {
    line-height: 10px;
}

#niamoto_brand {
    padding-right: 50px;
}

#content_body {
    background-color: #AAA;/*#f3f1f1;*/
}
