#map {
    height: 400px;
    padding: 0;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    overflow: hidden;
}

h4 {
    margin-top: 20px;
    margin-right: 20px;
}

.inline h4, .inline a {
    display: inline-block;
}
