{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block extra_head_base %}
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/css/theme.ice.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'forest_digitizing/css/olext.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'forest_digitizing/css/massifs.css' %}" />
{% endblock %}

{% block page_header %}
    Habitats forestiers des massifs de la Province Nord
{% endblock %}

{% block help_icon %}
{% endblock %}

{% block body %}
    <div id="massifs" class="row">
        <div class="col-xs-12 col-md-12"><div id="map"></div>
    </div>
    <script>
        var geoserver_base_url = '{{ GEOSERVER_BASE_URL }}';
        var massif_data = {{ massif_data|safe }};
    </script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/jquery.tablesorter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.1/js/widgets/widget-scroller.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.6.0/ol.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="{% static 'forest_digitizing/js/olext.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'forest_digitizing/js/massif/massifs_map.js' %}" type="text/javascript"></script>
{#    <script src="{% static 'forest_digitizing/js/massifs.min.js' %}" type="text/javascript"></script>#}
{% endblock %}
