{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-treeview.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'plot_dashboard/css/plot_dashboard.css' %}"/>
{% endblock %}

{% block body %}
    <img id="preloader" src="{% static 'img/preloader.svg' %}">
    <h3 class="page-header">Tableaux de bord des parcelles</h3>
    <div id="dashboard_row" class="row">
        <div id="left_panel" class="col-xs-4 col-md-4 fill_parent_height">
            <div class="row">
                <div class="col-xs-12 col-md-12"><input class="form-control" id="input-search" placeholder="Rechercher une parcelle..." value="" type="input"></div>
            </div>
            <div id="plot_treeview"></div>
        </div>
        <div class="col-xs-8 col-md-8 fill_parent_height"  id="right_panel">
            {# First row #}
            <div id="first_row" class="d3_viz panel">
                <div id="plot_informations">
                    <h3 id="selected_plot_name"></h3>
                    <p id="plot_elevation"></p>
                    <p id="nb_occurrences"></p>
                </div>
                <div id="plot_location">
                    <div id="map_widget" class="d3_panel"></div>
                </div>
            </div>
            {# Second row #}
            <div id="second_row" class="d3_viz panel">
                <div id="families_donut_container">
                    <div id="families_donut"></div>
                    <span><h5><strong>Familles dominantes</strong></h5></span>
                </div>
                <div id="top_species_container">
                    <div id="top_species"></div>
                    <span><h5><strong>Espèces dominantes</strong></h5></span>
                </div>
            </div>
            {# Third row #}
            <div id="third_row" class="d3_viz panel">
                <div id="diameters_histogram_container">
                    <div id="diameters_histogram"></div>
                    <span><h5><strong>Structure diamétrique</strong></h5></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'plot_dashboard/js/main.js' %}"></script>
{#    <script src="{% static 'taxon_dashboards/js/main.min.js' %}"></script>#}
{% endblock %}
