{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}"/>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'plot_dashboard/css/plot_dashboard.css' %}"/>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
    Tableaux de bord des parcelles
{% endblock %}

{% block help_modal_body %}
    Selectionnez une parcelle dans la boite de séléction
    en haut de la page. Vous aurez accès à une synthèse
    des données qui y ont été collectées.
{% endblock %}

{% block body %}
    <img id="preloader" src="{% static 'img/preloader.svg' %}">
    {# First row #}
    <div class="col-xs-12 col-md-12 fill_parent_height">
        <div id="first_row" class="row">
            <div class="col-xs-4 col-md-4 valign" style="height: 80%;">
                <select id="plot_select"></select>
            </div>
            <div id="plot_name" class="col-xs-7 col-md-7 valign">
                <h4 id="selected_plot_name"></h4>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12 fill_parent_height"  id="right_panel">
        {# Second row #}
        <div id="second_row" class="row">
            <div id="plot_location" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Localisation de la parcelle</div>
                    <div id="map_widget" class="d3_panel"></div>
                </div>
            </div>
            <div id="families_donut_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Familles dominantes</div>
                    <div id="families_donut"></div>
                </div>
            </div>
            <div id="top_species_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Espèces dominantes</div>
                    <div id="species_donut"></div>
                </div>
            </div>
        </div>
        {# 4 row #}
        <div id="four_row" class="row">
            <div id="basal_area_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Aire Basale</div>
                    <div id="basal_area_gauge"></div>
                </div>
            </div>
            <div id="living_stems_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">tiges vivantes/mortes</div>
                    <div id="stems_barv"></div>
                </div>
            </div>
            <div id="state_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Stratification</div>
                    <div id="strate_barh"></div>
                </div>
            </div>
        </div>
        {# 5 row #}
        <div id="five_row" class="row">
            <div id="type_plant_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Distribution type de plantes</div>
                    <div id="type_plant_donut"></div>
                </div>
            </div>
            <div id="alt_rain_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Altitude/pluvimétrie</div>
                    <div id="alt_rain_mat"></div>
                </div>
            </div>
            <div id="h_mean_container" class="col-xs-12 col-sm-6 col-md-4 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Hauteur moyenne</div>
                    <div id="h_mean_gauge"></div>
                </div>
            </div>
        </div>
        {# Third row #}
        <div id="third_row" class="row">
            <div id="plot_parameters" class="col-xs-12 col-sm-6 col-md-5 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Informations générales</div>
                    <div id="general_informations" class="panel-body">
                        <p id="plot_elevation"></p>
                        <p id="nb_occurrences"></p>
                        <p id="nb_species"></p>
                        <p id="nb_families"></p>
                        <p id="nb_genus"></p>
                    </div>
                </div>
            </div>
            <div id="diameters_histogram_container" class="col-xs-12 col-sm-6 col-md-7 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading">Structure diamétrique</div>
                    <div id="diameters_histogram"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="{% static 'js/libs/topojson.v1.min.js' %}"></script>
    <script src="{% static 'plot_dashboard/js/dist/main.min.js' %}"></script>
{% endblock %}
