{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-treeview.min.css' %}"/>
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'taxon_dashboard/css/taxon_treeview.css' %}"/>
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}
    <img id="preloader" src="{% static 'img/preloader.svg' %}">
    <h3 class="page-header" id="page_header">Tableaux de bord des taxons</h3>
    <div class="col-xs-4 col-md-4" id="left_panel_placeholder">
        <div id="left_panel">
            <div class="panel panel-default">
                <div id="input_panel" class="panel-body">
                    <div class="col-xs-12 col-md-12">
                        <div id="first_row" class="row">
                            <div class="col-xs-12 col-md-12">
                                <div id="taxon_abstract">
                                    <h3 id="selected_taxon_name">...</h3>
                                </div>
                            </div>
                        </div>
                        <input class="form-control" id="input-search" placeholder="Rechercher un taxon..." value="" type="input">
                        <div id="taxon_treeview"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-8 col-md-8" id="right_panel">

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Selectionnez un taxon</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Selectionnez un taxon dans l'arbre de droite.
                            Vous aurez accès à des informations générales sur la répartition de ce taxon,
                            et la distribution des occurrences.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="second_row" class="row">
            <div id="families_donut_container" class="col-xs-12 col-md-6 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Répartition des taxons</strong></div>
                    <div id="taxon_proportions_widget" class="d3_panel"></div>
                </div>
            </div>
            <div id="plot_parameters" class="col-xs-12 col-md-6 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Informations générales</strong></div>
                    <div id="general_informations" class="panel-body">
                        <h5><strong>Rang taxonomique: </strong><span id="tax_rank_value"></span></h5>
                        <h5><strong>Nombre d'occurrences connues sous ce taxon: </strong><span id="tax_occ_nb_value"></span></h5>
                        <h5><strong>Fiche endemia.nc: </strong><span id="tax_endemia_link_value"><em>Indisponible</em></span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div id="third_row" class="row">
            <div id="plot_location" class="col-xs-12 col-md-12 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Distribution géographique des occurrences connues</strong></div>
                    <div id="map_widget" class="d3_panel"></div>
                </div>
            </div>
        </div>
        <div id="fourth_row" class="row">
            <div id="elevation_range_container" class="col-xs-12 col-md-12 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Distribution des occurrences dans les gradients altitudinaux et pluviométriques</strong></div>
                    <div id="elevation_rainfall_scatterplot" class="d3_panel"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.4.0/d3.min.js"></script>
    <script src="{% static 'js/libs/topojson.v1.min.js' %}"></script>
    <script src="{% static 'taxon_dashboard/js/dist/main.min.js' %}"></script>
{% endblock %}
