{% extends "niamoto_dashboard_base.html" %}

{% load staticfiles %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-treeview.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'taxon_dashboards/css/taxon_treeview.css' %}"/>
{% endblock %}

{% block body %}
    <img id="preloader" src="{% static 'img/preloader.svg' %}">
    <h3 class="page-header">Tableaux de bord des taxons</h3>
    <div id="left_panel" class="col-xs-4 col-md-4 fill_parent_height">
        <div class="row">
            <div class="col-xs-12 col-md-12"><input class="form-control" id="input-search" placeholder="Rechercher un taxon..." value="" type="input"></div>
        </div>
        <div id="taxon_treeview"></div>
    </div>
    <div class="col-xs-8 col-md-8" id="right_panel">

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Selectionnez un taxon</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Selectionnez un taxon dans l'arbre de droite.
                            Vous aurez accès à des informations générales sur la répartition de ce taxon,
                            et la distribution des occurrences.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {# First row #}
        <div id="first_row" class="row">
            <div class="col-xs-12 col-md-12">
                <div id="taxon_abstract">
                    <h3 id="selected_taxon_name"></h3>
                </div>
            </div>
        </div>
        {# Second row #}
        <div id="second_row" class="row">
            <div id="families_donut_container" class="col-xs-12 col-md-6 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Répartition des taxons</strong></div>
                    <div id="taxon_proportions_widget"></div>
                </div>
            </div>
            <div id="plot_parameters" class="col-xs-12 col-md-6 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Informations générales</strong></div>
                    <div id="general_informations" class="panel-body">
                        <h5><strong>Rang taxonomique: </strong><span id="tax_rank_value"></span></h5>
                        <h5><strong>Nombre d'occurrences connues sous ce taxon: </strong><span id="tax_occ_nb_value"></span></h5>
                        <h5><strong>Fiche endemia.nc: </strong><span id="tax_endemia_link_value"><em>Indisponible</em></span></h5>
                    </div>
                </div>
            </div>
        </div>
        {# Third row #}
        <div id="third_row" class="row">
            <div id="plot_location" class="col-xs-12 col-md-12 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Distribution géographique des occurrences connues</strong></div>
                    <div id="map_widget" class="d3_panel"></div>
                </div>
            </div>
        </div>
        {# Fourth row #}
        <div id="fourth_row" class="row">
            <div id="elevation_range_container" class="col-xs-12 col-md-12 viz_container">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Distribution des occurrences dans le gradient altitudinal</strong></div>
                    <div id="elevation_range" class="d3_panel"><h4 style="text-align: center">Bientôt disponible!</h4></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{#    <script src="{% static 'taxon_dashboards/js/main.js' %}"></script>#}
    <script src="{% static 'taxon_dashboards/js/main.min.js' %}"></script>
{% endblock %}
