@import '../../../../../../niamoto_portal/static/css/source/partials/color';
@import "../../../../../../niamoto_portal/static/css/source/partials/style";

#preambule {
  #tree {
    height: 300px;
    @extend .image_float_top_left;
  }
}

#learnTaxon {
  #tree_mesure {
    width: 20%;
    @extend .image_float_top_left;
    margin-bottom: 0;
  }

  #density {
    clear: both;
    width: 20%;
    @extend .image_float_top_left;
    margin-top: 2px;
  }

  thead {
    color: white;
    background-color: $tree_table;
  }

  table {
    text-align: left;

    td,
    th {
      border: 1px solid;
      border-color: $tree_table;
    }
  }
}

#taxon {

  #graph {
    @extend .image_float_top_left;
    width: 33%;
  }

  .bullet {
    clear: both;
  }
}