@import 'color';

:export {
    forest: $forest;
    forestUM: $forest_UM;
    forestNUM: $forest_NUM;
    forestOut: $forest_out;
    landUM: $land_UM;
    landNUM: $land_NUM;
    city: $city;
    forestAreaSum: $forest_area_sum;
    forestSecondary: $forest_secondary;
    forestMature: $forest_mature;
    forestHeart: $forest_heart;
    concession: $concession;
    reserve: $reserve;
    colorPrimary0: $color-primary-0; // Main Primary color */
    colorPrimary1: $color-primary-1;
    colorPrimary2: $color-primary-2;
    colorPrimary3: $color-primary-3;
    colorPrimary4: $color-primary-4;

    colorSecondary10: $color-secondary-1-0; // Main Secondary color (1) */
    colorSecondary11: $color-secondary-1-1;
    colorSecondary12: $color-secondary-1-2;
    colorSecondary13: $color-secondary-1-3;
    colorSecondary14: $color-secondary-1-4;

    colorSecondary20: $color-secondary-2-0; // Main Secondary color (2) */
    colorSecondary21: $color-secondary-2-1;
    colorSecondary22: $color-secondary-2-2;
    colorSecondary23: $color-secondary-2-3;
    colorSecondary24: $color-secondary-2-4;

    colorComplement0: $color-complement-0; // Main Complement color */
    colorComplement1: $color-complement-1;
    colorComplement2: $color-complement-2;
    colorComplement3: $color-complement-3;
    colorComplement4: $color-complement-4;

    phenologyFlower: $phenology_flower;
    phenologyFruit: $phenology_fruit;
    undergrowth: $undergrowth;
    undercanopy: $undercanopy;
    canopy: $canopy;
    emerging: $emerging;
    sec: $sec;
    humide: $humide;
    tres_humide: $tres_humide;

    stemDead: $stem_dead;
    stemLiving: $stem_living;
    tree: $tree;
    palms: $palms;
    ferns: $ferns;
    lianas: $lianas;
}