@import 'color';

.land {
  fill: #f5f5f5;
  stroke: #afafaf;
}

path.slice {
  stroke-width: 1px;
  stroke: white;
}

path.slice {
  stroke-width: 1px;
  stroke: white;
}

.gauge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gauge-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
}

.gauge g.arc {
  fill: steelblue;
}

.gauge g.pointer {
  fill: $gauge_pointer_fill;
  stroke: $gauge_pointer_stroke;
}

.gauge g.pointer .arc_pointer {
  fill: $gauge_arc_pointer_fill;
  stroke: $gauge_arc_pointer_stroke;
}

.gauge g.label text {
  text-anchor: middle;
  font-size: 0.8em;
  font-weight: bold;
  fill: $gauge_label;
}

.gauge .tickline {
  stroke: $gauge_tickline;
}

.number-div {
  position: absolute;
  bottom: 3px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.number-unit {
  display: block;
  font-size: .8em;
}

.number-value {
  font-size: 1.1em;
}