@import "../../../../../../niamoto_portal/static/css/source/color";
@import "../../../../../../niamoto_portal/static/css/source/graph";

body {
  padding: 50px 0 0 0;
}

.card .mapCaledonie,
.card .mapProvince {
  padding: 0;
}

.card .mapCaledonie .graph,
.card .mapProvince .graph {
  height: 100%;
  width: 100%;
}

#left_panel {
  height: 780px;
}

#left_panel_placeholder {
  position: static;
}


@import "../../../../../../niamoto_portal/static/css/source/gauge";
@import "../../../../../../niamoto_portal/static/css/source/radarChart";