@import "../../../../../../niamoto_portal/static/css/source/color";

body {
  padding: 50px 0 0 0;
}

%graphStroke {
  stroke: $color-secondary-1-3;
}

@mixin graph {
  .tick line {
    @extend %graphStroke;
  }

  .domaine {
    @extend %graphStroke;
  }

  .xGrid .tick line,
  .xGridRight .tick line,
  .xGridLeft .tick line {
    opacity: 0.5;
    stroke-dasharray: 3, 3;
    stroke: #c79d1f;
  }
}

#forets {
  @include graph;
}

#forets_um {
  @include graph;
}

#holdridge_forest {
  @include graph;

  .yGrid .tick line {
    opacity: 0.5;
    stroke-dasharray: 3, 3;
    stroke: #c79d1f;
  }
}

#ratio_forests {
  @include graph;

  .yGrid .tick line {
    opacity: 0.5;
    stroke-dasharray: 3, 3;
    stroke: #c79d1f;
  }
}

.card .mapCaledonie,
.card .mapProvince {
  padding: 0;
}

.card .mapCaledonie .graph,
.card .mapProvince .graph {
  height: 100%;
}

#left_panel {
  height: 780px;
}

#left_panel_placeholder {
  position: static;
}

@import "../../../../../../niamoto_portal/static/css/source/graph";
@import "../../../../../../niamoto_portal/static/css/source/gauge";
@import "../../../../../../niamoto_portal/static/css/source/radarChart";
