@import "../../../../../../niamoto_portal/static/css/source/partials/color";
@import "../../../../../../niamoto_portal/static/css/source/partials/graph";
@import "../../../../../../niamoto_portal/static/css/source/partials/style";

.card .mapCaledonie,
.card .mapProvince {
  padding: 0;
}

.card #fragmentation {
  width: 100%;
  height: 80%;
}

.card .land_use {
  .NUM {
    fill: $land_NUM;
    stroke: grey;
  }

  .UM {
    fill: $land_UM;
    stroke: grey;
  }

  .Sec {
    fill: $sec;
    stroke: grey;
  }

  .Humide {
    fill: $humide;
    stroke: grey;
  }

  .Très.Humide {
    fill: $tres_humide;
    stroke: grey;
  }

  .Réserve {
    fill: $reserve;
    stroke: grey;
  }

  .PPE {
    fill: $ppe;
    stroke: grey;
  }

  .Concessions {
    fill: $concession;
    stroke: grey;
  }

  .Forêt {
    fill: $forest;
    stroke: grey;
  }
}

.card #substrat {
  width: 50%;
  height: 100%;
}

#left_panel {
  height: 780px;
}

#left_panel_placeholder {
  position: static;
}

.ol-scale-line {
  background-color: grey;
}

@import "../../../../../../niamoto_portal/static/css/source/partials/gauge";
// @import "../../../../../../niamoto_portal/static/css/source/partials/radarChart";