@import '../../../../../../niamoto_portal/static/css/source/color';


body {
  padding: 50px 0 0 0;
}

.card .mapCaledonie {
  padding: 0;
}

.card .mapCaledonie .graph {
  height: 100%;
}



.center {
  top: .5em;
  right: .5em;
}

.ol-scale-line {
  background-color: grey;
}


@import "../../../../../../niamoto_portal/static/css/source/graph";
@import "../../../../../../niamoto_portal/static/css/source/gauge";