@import '../../../../../../niamoto_portal/static/css/source/partials/color';
@import "../../../../../../niamoto_portal/static/css/source/partials/style";

#learnPlot {
    #tree1 {
        width: 350px;
        @extend .image_float_top_left;
    }

    #tree2 {
        width: 400px;
        @extend .image_float_top_right;
    }

    #image {
        width: 600px;
        @extend .image_center;
    }

    figure {
        text-align: center;
    }

    .grp_img1 {
        height: 300px;
    }

    #list_inventory {
        margin-left: 350px;
    }
}