@import '../../../../../../niamoto_portal/static/css/source/partials/color';
@import "../../../../../../niamoto_portal/static/css/source/partials/style";

#learnPlot {
    #tree1 {
        width: 250px;
        @extend .image_float_top_left;
    }

    #image {
        width: 600px;
        @extend .image_center;
    }

    figure {
        text-align: center;
    }

    #compo {
        height: 500px;
    }

    #list_inventory {
        margin-left: 350px;
    }
}